
<ion-header>
  <ion-navbar class="navbar_sec">
    <ion-grid class="no_padding">
      <ion-row>
        <ion-col col-5 class="nav_home_left_main">
          <div class="nav_home_left">
            <button ion-button menuToggle class="menu_hum">
              <img src="assets/images/humbergar_icon.png" alt="" />
            </button>
            <span class="nav_title">
              <h3>All Reviews</h3>
            </span>
          </div>
        </ion-col>

        <ion-col col-7>
          <div class="ion-text-start">
            <ul class="list_nav_search">
                <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png"/><span *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
                <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png"/><span *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span></li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-navbar>
</ion-header>



<ion-content>
  <ion-list>
    <div style="border-bottom: 1px solid #ccc" *ngFor="let data of reviewData">
      <ion-item>
        <ion-item style="padding-left: 0 !important;" class="iteminner">
          <ion-badge item-start style="background-color: #45b34a;margin: 8px 6px 8px 0; ">{{data.comment_rating}} <ion-icon name="ios-star">
            </ion-icon>
          </ion-badge>
          <h2>{{data.custome_name}}</h2>
        </ion-item>
        <p>{{data.comment_content}}</p>
        <p style="font-size: 1rem;">{{formatdate(data.review_date)}}</p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>