page-myaccount {

    .accor_item_default
    {

    }
    .acc_account .acc_items
    {
        padding-right: 16px;
        background: #eaeaea;
        margin-bottom: 2px;
    }
    .acc_account .item-inner
    {
        border-bottom: none !important;
    }
    .acc_account .input-wrapper .label
    {
        margin: 17px 8px 17px 0;
        font-size: 14px;
        
    }
    .acc_account .acc_sub .input-wrapper .label {
        color: #a0a1a2;
        margin: 8px 8px 8px 0;
    }
    .acc_account .item
    {
        //min-height: auto !important;
    }
   
    .custom_notify
    {
        padding-left:  16px !important;
    }
    .cu_notify_toggle
    {
        height: 20px;
        width: 41px;
    }
    .cu_notify_toggle .toggle-inner
    {
        width: 16px;
        height: 16px;
        background-color: #fff;
    }
    .cu_notify_toggle.toggle-checked .toggle-icon
    {
        background-color: #0d7f33 !important;
    }
    .f_cart_button .cart_btn
    {
        // background: #c5005e;
        font-size: 15px;
        letter-spacing: 0.9px;
        height: 6rem;
        background-color: #a56b1d;
        text-transform: uppercase;
        font-weight: 300;
    }
}
