<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-6 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">

                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>My Account</h3>
                        </span>
                    </div>
                </ion-col>

                <ion-col col-6>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <!-- <li (click)='onSearch();'><img src="assets/images/search_icon_nav.png" alt="" /></li> -->
                            <li (click)="onWishlist()"><img src="assets/images/wishlist_icon.png"/><span *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png"/><span *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span></li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="acc_account">
        <ion-item-divider color="light" (click)="showMyordersItems();" class="acc_items">My Order
            <span item-end class="accor_item_default"><i *ngIf="!showMyOrder" class="fa fa-plus" aria-hidden="true"></i><i *ngIf="showMyOrder" class="fa fa-minus" aria-hidden="true"></i></span>
        </ion-item-divider>
        <div *ngIf="showMyOrder" class="acc_sub">
            <ion-item (click)="onOrderhistory()">
                Order History
            </ion-item>
            <ion-item (click)="onQueries()">
                Your Queries
            </ion-item>
        </div>
        <ion-item-divider color="light" (click)="onMyProfile();" class="acc_items">My Profile
            <span item-end class="accor_item_default"></span>
        </ion-item-divider>
        <!-- <div *ngIf="showMyProfile">
            <ion-item>
                Order History
            </ion-item>
            <ion-item>
                Manage Returns
            </ion-item>
            <ion-item>
                Your Queries
            </ion-item>
        </div> -->
        <ion-item-divider color="light" (click)="onAddressBook();" class="acc_items">Address Book
            <span item-end class="accor_item_default"><i *ngIf="!showMyAddress" class="fa fa-plus" aria-hidden="true"></i><i *ngIf="showMyAddress" class="fa fa-minus" aria-hidden="true"></i></span>
        </ion-item-divider>
        <div *ngIf="showMyAddress" class="acc_sub">
            <ion-item (click)="onShipping()">
                Shipping Address Book
            </ion-item>
            <ion-item (click)="onBilling()">
                Billing Address Book
            </ion-item>
        </div>
        <ion-item-divider color="light" (click)="onReviews();" class="acc_items">My Reviews</ion-item-divider>
        <ion-item class="acc_items custom_notify">
            <ion-label>Notify Me</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item-divider color="light" (click)="onWishlist();" class="acc_items">My Shortlist</ion-item-divider>
        <ion-item-divider color="light" (click)="onRecentlyView();" class="acc_items">My Recently View
        </ion-item-divider>
        <ion-item-divider color="light" (click)="onMyQueries();" class="acc_items">My Queries
        </ion-item-divider>
    </ion-list>

</ion-content>

<!-- <ion-footer class="ion_footer">
    <div class="footer_btn_area clear">
        <div class="f_cart_button">
            <button ion-button full class="cart_btn" (click)="onLogin();">LOGOUT</button>
        </div>
    </div>
</ion-footer> -->