page-login {
    .text-input::-moz-placeholder {
        color: white !important;
      }
      
      .text-input:-ms-input-placeholder {
        color: white !important;
      }
      
      .text-input::-webkit-input-placeholder {
        color: white !important;
      }
    .logo_area
    {
        text-align: center;
        //padding: 80px 25px 80px 25px;
        padding: 110px 25px 20px 25px;
    }
    .page_name_area
    {
        text-align: center;
        padding-bottom: 5px;
    }
    .page_name_area h2
    {
        font-size: 30px;
        color: #fff;
        padding: 0;
        margin: 0 0 10px 0;
        font-weight: 400;
    }
    /*======= form_style =======*/
    .form_style
    {
        padding: 0 30px;
    }
    .form_style input [type="text"],
    .form_style input [type="email"],
    .form_style input [type="password"]
    {
        border: 1px solid #3d4c62;
    }
    .input_form{
        border-radius: 20px;
        margin: 10px 0px 0px 0px;
        padding: 0 15px;
        width: 100%;
        border: 1px solid #9c9c9c;
        color: #fff;
        font-weight: 300;
        position: relative;
        background : rgba(153, 153, 153, 0.2);
    }
    .input_form .input_icon
    {
        position: absolute;
        left: 15px;
        top: 10px;
    }
    .input_form ion-input
    {
        padding-left: 20px;
    }
    .signup_ac_txt
   {
       margin-bottom: 15px;
   }
   .signup_ac_txt p
   {
        font-size: 13px;
        color: #fff;
        padding: 0;
        margin: 0 0 12px 0;
        text-align: center;
   }
    .input_form  .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: #576f93;
        font-size: 14px;        
    }
    /*===== footer ======*/
    ion-footer .toolbar-background{
        background: #ff0087;
        color: white;
    }
    ion-footer .toolbar-title{
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
    }
    .forgotclass{
        text-align: center;
    }
    .forgotclass .button{
        font-size: 12px;
        color: #a56b1d;
    }
    .input_form:hover { 
        border: 1px solid #a56b1d !important; 
    }

}
