<ion-content style="background:url('../assets/images/login_bg.png');  background-size: cover;" padding>
  <div class="logo_area">
    <img src="assets/images/logo.png" />
  </div>
  <div class="form_style">
    <div class="page_name_area">
      <h2>Log in</h2>
      <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </p> -->
    </div>
    <ion-list style="margin-bottom: 10px !important;">
      <div class="input_form">
        <ion-input placeholder="Email *" [(ngModel)]="email" type="email"></ion-input>
        <div class="input_icon"><img src="assets/images/user_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Password *" [(ngModel)]="password" type="password">
        </ion-input>
        <div class="input_icon"><img src="assets/images/password-icon.png" alt="" /></div>
      </div>
      <div class="forgotclass">
        <button ion-button color="light" clear (click)="forgetpass()">Forgot Password?</button>
      </div>
    </ion-list>
  </div>
  <div class="signup_ac_txt">
    <p>Don't have an account?</p>
    <p (click)="onSignUp();" style="color: #a56b1d;">Create a new account</p>
  </div>
  <div class="form_style">
    <button [disabled]="isDisabled" ion-button full color="light" round class="loginbutton"
      (click)="onLogin();">LOGIN</button>
  </div>
  <!-- <div class="login_bottom_text"><p>or connect with <a (click)="facebookLogin()">Facebook</a></p></div> -->
</ion-content>