page-queries{
    .forgetlist .item-input:last-child {
        border-bottom: none !important;
      }
    
      .forgetlist .item-block:first-child {
        border-top: none !important;
      }
    
      .forgetlist{
        //padding: 0 !important;
      }
    
      .forgetlist ion-item {
        padding-left: 0 !important;
        font-size: 14px;
      }
    
      .forgetlist .item-inner {
        border-bottom: 1px solid #dedede !important;
      }
    
      .form_style{
        padding-top: 15px;
      }
    
      .item_Style ion-input{
        font-size: 14px;
    }
    
    .toolbar-title-md {
      font-size: 16px !important;
      padding: 0 !important;
    }
}