<ion-header>
  <ion-navbar>
    <ion-title>Queries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="forgetlist">
    <ion-item class="item_Style">
      <!-- <ion-label stacked style="font-size: 12px !important;">Name<span style="color: red">*</span></ion-label> -->
      <ion-input [(ngModel)]="name" type="text" placeholder="Name *"></ion-input>
    </ion-item>
    <ion-item class="item_Style">
      <!-- <ion-label stacked style="font-size: 12px !important;">Email<span style="color: red">*</span></ion-label> -->
      <ion-input [(ngModel)]="email" type="email" placeholder="Email *"></ion-input>
    </ion-item>
    <ion-item class="item_Style">
      <!-- <ion-label stacked style="font-size: 12px !important;">Mobile<span style="color: red">*</span></ion-label> -->
      <ion-input [(ngModel)]="mobile" type="tel" placeholder="Mobile *" maxlength="15"></ion-input>
    </ion-item>
    <ion-item class="item_Style">
        <!-- <ion-label stacked style="font-size: 12px !important;">Subject<span style="color: red">*</span></ion-label> -->
        <ion-input [(ngModel)]="subject" type="text" placeholder="Subject *"></ion-input>
      </ion-item>
    <div style="text-align: left;">
      <!-- <ion-label style="font-size: 12px !important;">Message<span style="color: red">*</span></ion-label> -->
      <textarea style="width: 100%; border: #ccc solid 1px;font-size: 14px !important;" rows="4" cols="50" placeholder="Message *"
        [(ngModel)]="message"></textarea>
    </div>
    <div class="form_style">
      <button [disabled]="isDisabled" ion-button full color="light" round class="loginbutton"
        (click)="onSubmit()">SUBMIT</button>
    </div>
  </ion-list>
</ion-content>