<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="forgetlist">
    <ion-item class="item_Style">
      <!-- <ion-label stacked style="font-size: 12px;">Old Password</ion-label> -->
      <ion-input [(ngModel)]="oldPass" type="password" placeholder="Old Password *"></ion-input>
    </ion-item>
    <ion-item class="item_Style">
      <!-- <ion-label stacked style="font-size: 12px;">New Password</ion-label> -->
      <ion-input [(ngModel)]="newPass" type="password" placeholder="New Password *"></ion-input>
    </ion-item>
    <ion-item class="item_Style">
      <!-- <ion-label stacked style="font-size: 12px;">Confirm New Password</ion-label> -->
      <ion-input [(ngModel)]="cnewPass" type="password" placeholder="Confirm New Password *"></ion-input>
    </ion-item>
    <div class="form_style">
      <button [disabled]="isDisabled" ion-button full color="light" round class="loginbutton" (click)="onChangePassword()">CHANGE</button>
    </div>
  </ion-list>


</ion-content>