<ion-header>
  <ion-navbar class="navbar_sec">
    <ion-grid class="no_padding">
      <ion-row>
        <ion-col col-6 class="nav_home_left_main">
          <div class="nav_home_left">
            <button ion-button menuToggle class="menu_hum">
              <img src="assets/images/humbergar_icon_white.png" alt="" />
            </button>
            <span class="nav_title">
              <h3>Add Address</h3>
            </span>
          </div>
        </ion-col>

        <ion-col col-6>
          <div class="ion-text-start">
            <ul class="list_nav_search" style="padding: 0 !important;">
              <li (click)="onwhishlist()"><img src="assets/images/wishlist-white.png" alt="" /> <span
                  *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
              <li (click)="oncart()"><img src="assets/images/cart_icon_nav_productdetails.png" alt="" /> <span
                  *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span>
              </li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content style="background:url('../assets/images/signup_bg.png');  background-size: cover;" padding>
  <div class="form_style">
    <ion-list>
      <!-- <ion-item class="same_add" *ngIf="addressType == 'Shipping'">
        <ion-label>Same as billing address</ion-label>
        <ion-toggle [(ngModel)]="same_address" (ionChange)="stateChange()"></ion-toggle>
      </ion-item> -->
      <div class="input_form">
        <ion-input placeholder="Landmark" [(ngModel)]="landmark" type="text"></ion-input>
        <div class="input_icon"><img src="assets/images/landmark_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Pincode" [(ngModel)]="postcode" type="text"></ion-input>
        <div class="input_icon"><img src="assets/images/pincode_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="City" [(ngModel)]="city" type="text"></ion-input>
        <div class="input_icon"><img src="assets/images/city_input_icon.png" alt="" /></div>
      </div>


      <div class="input_form">
        <ion-item class="stateClass">
          <ion-select [(ngModel)]="state" [selectOptions]="stateAlertOpts" placeholder="State">
            <ion-option value="{{data.name}}" *ngFor="let data of statesData; let ind = index">{{data.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </div>


      <!-- <div class="input_form">
        <ion-input placeholder="State" [(ngModel)]="phnNumber" type="Mobile" (keyup.enter)="closeKeyboard()">
        </ion-input>
        <div class="input_icon"><img src="assets/images/flag_input_icon.png" alt="" /></div>
      </div> -->
      <div class="input_form">
        <ion-input placeholder="Mobile" [(ngModel)]="phone" type="tel" maxlength="15"></ion-input>
        <div class="input_icon"><img src="assets/images/mobile_input_icon.png" alt="" /></div>
      </div>
      <!-- <div class="input_form">
        <ion-input placeholder="Landline no." [(ngModel)]="cPassword" type="text" (keyup.enter)="closeKeyboard()">
        </ion-input>
        <div class="input_icon"><img src="assets/images/c_pass_input_icon.png" alt="" /></div>
      </div> -->
      <div class="addresstype">
        <!-- <ion-label color="ligh-grey">Address Type</ion-label> -->
        <label class="ad_type_lbl">Address Type:</label>
        <label for="accessible">
          <input type="radio" [(ngModel)]="address_type" value="Home" name="quality" id="accessible" checked>
          <span>Home</span>
        </label>
        <label for="pretty">
          <input type="radio" [(ngModel)]="address_type" value="Work" name="quality" id="pretty">
          <span>Work</span>
        </label>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion_footer">
  <button [disabled]="isDisabled" ion-button full class="cart_btn" (click)="onSave();">SAVE</button>
</ion-footer>