page-newaddress {
    .text-input::-moz-placeholder {
        color: white !important;
      }
      
      .text-input:-ms-input-placeholder {
        color: white !important;
      }
      
      .text-input::-webkit-input-placeholder {
        color: white !important;
      }
    .navbar_sec
    {
        border-bottom: none !important;
    }
    .navbar_sec .toolbar-background {
        background: transparent;
        border-bottom: none !important;
    }
    .nav_home_left .nav_title h3
    {
        color: #fff;
    }
    /*======= form_style =======*/
    .form_style
    {
        padding: 0 20px;
    }
    .form_style input [type="text"],
    .form_style input [type="email"],
    .form_style input [type="password"]
    {
        border: 1px solid #3d4c62;
    }
    .input_form{
        border-radius: 20px;
        margin: 10px 0px 0px 0px;
        padding: 0 15px;
        width: 100%;
        color: #fff;
        font-weight: 300;
        position: relative;
        background: rgba(153, 153, 153, 0.2);
        border: 1px solid #fff;
    }
    .input_form .input_icon
    {
        position: absolute;
        right: 15px;
        top: 10px;
    }
   .signup_ac_txt p
   {
        font-size: 13px;
        color: #fff;
        padding: 0;
        margin: 0 0 7px 0;
        text-align: center;
   }
   .input_form  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #576f93;
    font-size: 14px;
    }
    /*===custom radio===*/
.addresstype{
    margin: 10px 0 12px 0;
}
.addresstype [type="radio"] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
  }
  
  /* One radio button per line */
  .addresstype label {
    display: inline-block;
    cursor: pointer;
    line-height: 2.5;
    font-size: 14px;
    color:#fff;
  }
  
  .addresstype [type="radio"] + span {
    display: block;
    font-size: 15px;
    margin-right: 5px
  }
  
  /* the basic, unchecked style */
  .addresstype [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #7487a5;
    // box-shadow: 0 0 0 0.15em #000;
    margin-right: 0.50em;
    transition: 0.5s ease all;
  }
  
  /* the checked style using the :checked pseudo class */
  .addresstype [type="radio"]:checked + span:before {
    background: #fff;
    // box-shadow: 0 0 0 0.25em #000;
  }
  
  /* never forget focus styling */
//   .addresstype [type="radio"]:focus + span:after {
//     content: '\0020\2190';
//     font-size: 1.5em;
//     line-height: 1;
//     vertical-align: -0.125em;
//   }
  .addresstype ion-label{
      margin: 20px 0 10px 0;
      color: #515c6f;
  }
  .ad_type_lbl
  {
      padding-right: 10px;
  }

  /*===== address ====*/
  .con_repeat
    {
        padding: 0 15px;
    }
    .con_repeat h3
    {
        font-size: 15px;
        padding: 0;
        margin: 0 0 0px 0;
        color: #fff;
    }
    .con_repeat h3 span
    {
        vertical-align: middle;
        display: inline-block;
    }
    .list_2column
    {
        margin: 0;
        padding:0;
        list-style: none;
    }
    .list_2column li
    {
        clear: both;
        display: inline-block;
        width: 100%;
        margin: 5px 0 0px 0;
        font-size: 14px;
        padding: 5px 0;
        color: #7b7b7b;
    }
    .list_2column li .c_left
    {
        float: left;
        width: 30%;
        color: #8b8c8e;
    }
    .list_2column li .c_right
    {
        float:right;
        width: 70%;
        padding-top: 7px;
    }
    .c_address h3
    {
        font-size: 14px;
        color: #fff;
        padding: 0;
        margin: 0 0 1px 0;
        font-weight: 400;
    }
    /*===== footer ======*/
     /*===== =====*/
     .ion_footer
     {
        height: 5rem;
        background-color: #a56b1d;
     }
     .footer_btn_area {
         padding-top: 8px;
        }
     .add_page_btn
     {
         list-style: none;
         padding: 14px 0 0 0;
         margin: 0;
     }
     .add_page_btn li
     {
         padding: 0 10px;
         width: 50%;
         float: left;
         text-align: center;
         color: #fff;
         text-transform: uppercase;
         font-weight: 300;
     }
     .add_page_btn li:first-child
     {
         border-right: 1px solid #fff;
     }

     .back-button.show-back-button {
        color: #fff !important;
    }


.stateClass{
    background: transparent;
    padding: 0 !important;
    min-height: auto !important;
    color: white;
}

.stateClass .item-inner{
    border-bottom: none !important;
    padding-right: 0 !important;
}

.stateClass ion-select{
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    padding: 10px 5px 10px 0px !important;
}

.cart_btn
    {
        // background: #c5005e;
        font-size: 15px;
        letter-spacing: 0.9px;
        height: 5rem;
        background-color: #a56b1d;
        text-transform: uppercase;
        font-weight: 300;
    }













    // ion-footer .toolbar-background{
    //     background: #ff0087;
    //     color: white;
    // }
    // ion-footer .toolbar-title{
    //     color: #fff;
    //     font-weight: 300;
    //     text-transform: uppercase;
    // }
.same_add{
    padding-left: 0 !important;
    background: none;
    color: white;
}
.same_add .item-inner {
    border-bottom: none !important;
}
}
