<ion-header>
    <ion-navbar>
        <ion-title>
            Order Details
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <iframe width="100%" height="100%" [src]="trustedVideoUrl" frameborder="0" style="padding :0"></iframe>
    <!-- <p [innerHTML]="htmlContent"></p> -->
</ion-content>
