<ion-content padding>
  <div class="thank_page text-center">
    <h2>Thank You</h2>
    <div class="tanks_tick text-center">
      <img src="assets/images/thank_tick.png" alt="" />
    </div>
    <p>Congratulation! WE have sent an confirmation <span>EMAIL.</span>
      Please check your inbox or spam folder.</p>
    <ion-buttons padding-top style="width: 80%">
      <button ion-button full round class="loginbutton" (click)="dismiss()">BACK TO HOME <span
          class="button_icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
    </ion-buttons>
  </div>

</ion-content>