page-thankyou {
    .navbar_sec .toolbar-background
    {
        background: #fff;
        border-bottom: 1px solid #fff !important;
    }
    .navbar_titile_box .navbar_titile
    {
        position: relative;
        padding: 0px 0 0 0;
    }
    .navbar_titile_box .navbar_titile .toolbar-title
    {
        font-weight: 400;
        font-size: 21px;
        color: #3a4759;
    }
    .list_nav_search
    {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }
    /*=header cart==*/
    .list_nav_search li
    {
        display: inline-block;
        text-align: right;
        padding: 0 5px;
        position: relative;
    }
    .cartcount {
        background: #cb005f;
    width: 20px;
    height: 18px;
    display: block;
    line-height: 19px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 0;
    }
    .list_nav_search li:last-child
    {
        padding-right: 0;
    }
    

    
  /*.modal-wrapper {
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    border-radius: 0;
}
@media only screen and (min-height: 768px) and (min-width: 768px){
.modal-wrapper {
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    border-radius: 0;
}
}*/
.modal-wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* transform: none; */
}




    .thank_page
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .thank_page h2
    {
        font-size: 20px;
        color: #111;
        padding: 0;
        margin: 0 0 15px 0;
    }
    .tanks_tick
    {
        text-align: center;
        margin: 20px 0;
    }
    .thank_page p
    {
        font-size: 13px;
        color: #111;
        padding: 0;
        margin: 0 0 0px 0;
        text-align: center;
    }
  


    .big_button_style
    {
        // background-color: #cc005e !important;
        height: 5rem;
        background-color: #ee0060; /* For browsers that do not support gradients */
        background-image: linear-gradient(to left, #9c005c , #ee0060); 
        width: 300px;
        letter-spacing: 0.6px;
        font-size: 13px;
        margin-top: 20px;
    }
    .button_icon
    {
        width: 32px;
        height: 32px;
        background: #fff !important;
        border-radius: 50%;
        text-align: center;
        display: block;
        color: #9c005c;
        font-size: 28px;
        line-height: 30px;
        padding: 0;
        position: absolute;
        right: 2px;
        top: 2px;
    }
}
