<!--
  Generated template for the BooktablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item class="itemStyle">
    <ion-avatar item-start>
        <img [src]="profile_pic == '' ? 'assets/images/placeholder.png' : profile_pic">
    </ion-avatar>
    <button ion-button small clear style="color: #89ba2a;" (click)="uploadProfilepic()">Edit Photo</button>
  </ion-item>
  <ion-item class="item_Style">
    <!-- <ion-label stacked style="font-size: 12px;">First Name</ion-label> -->
    <ion-input [(ngModel)]="fname" type="text" placeholder="First Name *"></ion-input>
  </ion-item>
  <ion-item class="item_Style">
    <!-- <ion-label stacked style="font-size: 12px;">Last Name</ion-label> -->
    <ion-input [(ngModel)]="lname" type="text" placeholder="Last Name *"></ion-input>
  </ion-item>
  <ion-item class="item_Style">
    <!-- <ion-label stacked style="font-size: 12px;">Email</ion-label> -->
    <ion-input [(ngModel)]="email" type="email" placeholder="Email *" readonly></ion-input>
  </ion-item>
  <ion-item class="item_Style">
    <!-- <ion-label stacked style="font-size: 12px;">Mobile</ion-label> -->
    <ion-input [(ngModel)]="mobile" type="phone" placeholder="Mobile *"></ion-input>
  </ion-item><br>
  <div class="form_style">
    <button [disabled]="isDisabled" ion-button full color="light" round class="loginbutton" (click)="onSaveprofile()">Save Changes</button>
  </div>
</ion-content>