page-editprofile {

    .itemStyle {
        border-bottom: 1px solid #dedede !important;
    }

    .item_Style{
        padding-left: 8px !important;
    }

    .item_Style .item-inner{
        box-shadow: none !important;
    }

    .item_Style ion-input{
        font-size: 14px;       
    }

    .itemStyle .item-inner {
        border-bottom: none !important;
    }

    ion-avatar img {
        width: 60px !important;
        height: 60px !important;
    }

    .toolbar-title-md {
        font-size: 16px !important;
        padding: 0 !important;
      }
}
