
<ion-header>
    <ion-navbar class="navbar_sec" >
      <ion-grid class="no_padding">
        <ion-row>
          <ion-col col-5 class="nav_home_left_main">
            <div class="nav_home_left">
              <span class="nav_title">
                <h3>Add Review</h3>
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>

<ion-content>
  <div class="addressForm">
    <ion-list class="items-middle" text-center>
      <ion-item class="text_input_box">
        <ion-label color="ligh-grey">Name<span style="color: red">*</span></ion-label>
        <ion-input [(ngModel)]="name" type="text" style="font-size: 12px;"></ion-input>
      </ion-item>
      <ion-item class="text_input_box">
        <ion-label color="ligh-grey">Email<span style="color: red">*</span></ion-label>
        <ion-input [(ngModel)]="email" type="text" style="font-size: 12px;" ></ion-input>
      </ion-item>
      <div style="text-align: left;">
        <ion-label>Message<span style="color: red">*</span></ion-label>
        <textarea style="width: 100%; border: #ccc solid 1px;font-size: 12px;" rows="4" cols="50"
          [(ngModel)]="message"></textarea>
      </div>
      <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffa71a"
                  defaultColor="#dfdad3" [(rating)]="myRating" (ratingChanged)="logRatingChange($event)">
                </ionic3-star-rating>
    </ion-list>
  </div>
  <div padding>
    <button [disabled]="isDisabled" ion-button full class="cart_btn" (click)="onSubmit();">Submit</button>
  </div>
</ion-content>