page-addreview{
 

  .addressForm {
    padding:16px;
}
.addressForm .text_input_box{
    padding: 0 !important;
    margin-bottom: 15px;
    border: none !important;
}
.addressForm .text_input_box .item-inner{
    border-bottom: none !important;
    padding: 0;
}

.addressForm .text_input_box .item-inner .label{
    max-width: 100%;
    margin: 0;
    font-size: 14px;
}

.addressForm .text_input_box .item-inner ion-input .text-input{
    margin: 0;
width: 100% !important;
border-bottom: 1px solid #e3e3e3;
padding:5px 0 10px 0;
}
.text_input_box .input-wrapper{
        display: block;
        margin-bottom: 0px;
       
}
.text_input_box .item-inner{
        border-bottom: none !important;
}
.select_locality .input-wrapper{
    display: inherit !important;
}
.addressForm .text_input_box.select_locality{
    border-bottom: 1px solid #e3e3e3 !important; 
}
.cart_btn
    {
        // background: #c5005e;
        font-size: 15px;
        letter-spacing: 0.9px;
        height: 5rem;
        background-color: #a56b1d;
        text-transform: uppercase;
        font-weight: 300;
    }
}