<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-7 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">

                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>My Shortlist ({{wishData.length}})</h3>
                        </span>
                    </div>
                </ion-col>

                <ion-col col-5>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <!-- <li (click)='onSearch();'><img src="assets/images/search_icon_nav.png" alt="" /></li> -->
                            <!-- <li><img src="assets/images/wishlist_icon.png" alt="" /> <span class="cartcount">7</span>
                            </li> -->
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png" alt="" /> <span *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span>
                            </li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="emptycart" *ngIf="wishData.length == 0">
        <img src="assets/images/empty_wislist.jpg" alt="" />
        <p>Your Wishlist is empty</p>
    </div>
    <ion-grid style="padding: 0;">
        <ion-row>
            <ion-col col-6 *ngFor="let data of wishData;">
                <div class="searchitembox">
                    <div class="itemimg"><img [src]="data.image" alt="" /></div>
                    <div class="itemcontent">
                        <h4>{{data.post_title}}</h4>
                        <!-- <p>lorem ipsum is simply dummy</p> -->
                    </div>
                    <div class="pricetag">
                        <span class="price">${{data.price}}</span>
                        <span style="float: right;color: green;margin-top: 2px;">({{data.stock_status}})</span>
                    </div>
                    <div class="c_button_box clear">
                        <button ion-button class="btn_change" (click)="onaddcart(data.pid);">ADD TO CART</button>
                        <button ion-button class="btn_back" (click)="onDelete(data.wishlist_id);">DELETE</button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>