page-wishlist {
     
 .searchitembox{
    margin:0 0 5px 0;
    padding:0;
    position: relative;
}
.itemimg img{
    width: 100%;
    display: block;
    box-shadow: 0px 0px 6px #ccc;
   }
   .itemcontent{
       margin:0;
       padding:0;
   }
  .itemcontent h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
   font-size: 12px;
   color: #000;
   font-weight: 400;
   margin: 5px 0 !important;
   }
  .itemcontent p {
       font-size: 12px;
       color: #515c6f;
       margin: 0 0 10px 0;
   }
   .pricetag{
       margin:0;
       padding:0;
       clear: both;
       display:table;
       width:100%;
   }
   .pricetag .price{
       font-size: 18px;
       color: #515c6f;
       font-weight: 700;
       margin-right: 3px;
   }
   .pricetag .delete{
       position: relative;
       font-size: 13px;
       color: #666;
       font-weight: 300;
       margin-right: 5px;
   }
   .pricetag .delete:after{
       content: "";
       width: 100%;
       height: 1px;
       background:#b1005d;
       position: absolute;
       top: 7px;
       left: 0;
   }
   .pricetag .ratings{
       background: #b1005d;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    }

    /*==== btn ===*/
    .c_button_box
    {
        margin-top: 5px;
    }
    .c_button_box .btn_change,
    .c_button_box .btn_back
    {
        width: 47%;
        border-radius: 0;
        height: 30px;
        font-size: 9px;
        font-weight: 400;
    }
    .c_button_box .btn_change
    {
        float: left;
        background: #ff0087;
    }
    .c_button_box .btn_back
    {
        float: right;
        background: #3a4759;
    }
    .c_btn_remove p span {
        color: #a56b1d;
    }
    .emptycart{
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    
}
