page-termsCondition {
    /* .toolbar .back-button {
        position: absolute !important;
        z-index: 99;
    } */
    .toolbar-title-md {
        font-size: 16px !important;
        padding: 0 !important;
      }
}
