page-nointernet{
    
   
.empty_cart
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.empty_cart h4
{
    font-size: 33px !important;
    margin: 10px 0 0px 0;
    color: #757475;
    font-weight: 500 !important;
}



}
