<ion-content>
    <div class="empty_cart">
      <ion-icon style="font-size: 177px; color: #757475" name="wifi"></ion-icon>
        <h4>Whoops!</h4>
        <div style="text-align: center">
            <p style="color: #757475">No Internet connection found.<br> Check your connection.</p>
            
        </div>
    </div>
</ion-content>