page-productfilter {

    .radioClass{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
    }
    .radioClass ion-list {
        margin: auto;
    }

    .filter_right {
        //box-shadow: 0px 0px 6px #ccc;
        padding: 0 12px;
        height: fit-content;
    }
    .active.item-block .label {color:#a56b1d;}

    .checkbox-md-light .checkbox-checked {
        border-color: #787878;
        background-color: #f4f4f4;
    }

    .bottom_feature_sec{
        padding: 5px 0 !important;
        background: none !important;
    }

    .filtertype{
        display: grid;
    }

    .filtertype label span {
        text-align:center;
        font-size: 16px;
        padding:15px 0px;
        display:block;
    }
    
    .filtertype label input {
        display: none;
    }
    
    .filtertype input:checked + span {
        background-color:#fff;
        color:#000;
    }

.color {
    width: 100%;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
}

.color a.clr1 {
    border:1px solid #000;
    padding: 1px;
    margin: 4px;
    display: inline-block;
}

.lbl_color .icon {
    display: inline-block;
  }
  .lbl_color input[type="radio"] {
    display: none;
  }
  .lbl_color .icon {
    width: 25px;
    height: 25px;
    /* background: #8c643c; */
    //line-height: 20px;
    -webkit-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.54);
-moz-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.54);
box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.54);
  }
  .lbl_color .icon:after {
    content: "✔";
    opacity: 0;
    transition: all 0.2s;
    color: #fff;
    -webkit-text-stroke: 1px black;
    font-size: 15px;
    padding-left: 5px;
  }     

  .lbl_color input:checked + .icon:after {
    opacity: 1;
  }

  .size label {
    width:40px;
    margin:4px;
    background-color:#ffffff;
    border:1px solid #cccccc;
    display: inline-block;
}

.size {
    width: 100%;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
}

.size label span {
    text-align:center;
    font-size: 14px;
    color: #000;
    padding:8px 0px;
    display:block;
}

.size label input {
    display: none;
}

.size input:checked + span {
    background-color:#a56b1d;
    color:#F7F7F7;
}

.text-red{
    margin: 0 0 0 20px !important;
    font-weight: bold;
}

.range-md .range-knob {
    background: #a56b1d !important;
    width: 22px;
    height: 22px;
    top: 11px;
}

.range-md .range-pin {
    background: #a56b1d !important;
    &::before {
        background: #a56b1d !important;
}
}

.range-bar {
    &.range-bar-active {
            background: #a56b1d !important;
    }
}

.radioClass{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}
.radioClass ion-list-header {
    margin-bottom: 5px !important;
}

    
}
