<ion-content style="background-color: rgba(0, 0, 0, 0);">
    <div style="width: 100%; height:100%;" (click)="onClick()"></div>
  <div class="radioClass">
    <ion-list>
      <div style="padding: 0px 10px 0px 10px;">
        <h6>Price:</h6>
        <ion-range min="1" max="100" dualKnobs="true" pin="true" [(ngModel)]="price" color="dark"
          style="padding: 0 !important;">
          <span range-right class="text-red">{{price.lower}}-{{price.upper}}</span>
        </ion-range>
      </div>

      <div class="size">
        <h6>Size:</h6>
        <label *ngFor="let data of sizeData;">
          <input type="radio" name="toggle">
          <span (click)="onSizeChanged(data.cat_ID)">{{data.name}}</span>
        </label>
      </div>

      <div class="color">
        <h6>Color:</h6>
        <a class="clr1" *ngFor="let data of colorData;">
          <!-- <span [style.background-color]="data.color"></span> -->
          <label class="lbl_color">
            <input type="radio" name="color" />
            <span class="icon" [style.background-color]="data.slug" (click)="onColorChanged(data.cat_ID)"></span>
          </label>
        </a>
      </div>
      <div style="padding: 10px;">
          <button ion-button full style="background: #a56b1d;" (click)="onDone()">Done</button>
      </div>
      
    </ion-list>
  </div>
</ion-content>
<!-- <ion-footer>
  <div class="bottom_feature_sec">
    <ion-row>
      <ion-col col-6 class="forborder">

      </ion-col>
      <ion-col col-6 style="background: #a56b1d; padding: 10px !important;" (click)="onDone()">
        <a>Done</a>
      </ion-col>
    </ion-row>
  </div>
</ion-footer> -->