page-cart {
    
   
     /*==== pro_listing_sec ====*/
    .pro_listing_sec
    {
        padding-bottom: 60px;
    }
    .productbar ul{
        margin: 0;
        padding:0;
        list-style: none;
    }
    
    
    .product_box_repeat
    {
        margin-bottom: 15px;
        padding: 0px;
    }
    .productimg{
        text-align: center;
    }
    .productimg img{
        width: auto;
        height: 100px;;
    }
    .productdetails{
        position: relative;
    }
    .productdetails h2{
        font-size: 14px;
        color: #a56b1d;
        margin:0 0 2px 0;
        line-height: inherit;
        font-weight: 400;
    }
    .productdetails p{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 12px;
        margin: 0 0 5px 0;
        color: #3a4759;
        font-weight: 400;
        line-height: inherit;
    }
    .productmeta
    {
        margin: 6px 0;
    }
    .productmeta .price{
        color:#a56b1d;
        font-size: 20px;
        font-weight: 400;
        margin-right: 5px;
    }
    .productmeta .delete{
        position: relative;
        font-size: 16px;
        color: #576f93;
        font-weight: 400;
        margin-right: 5px;
    }
    .productmeta .delete:after{
        content: "";
        width: 100%;
        height: 1px;
        background: #b1005d;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .productmeta .discount{
        color:#a56b1d;
        font-size: 20px;
    }
    .dotsicon {
        position: absolute;
        top: 0px;
        right: -5px;
        font-size: 20px;
    }
    .dotsicon a i{
        color: #003759;
        font-size: 20px;
    }
    .pro_rating
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .pro_rating li
    {
        display: inline-block;
        color: #efce4a;
        font-size: 17px;
        padding-right: 3px;
    }
    .wish_btnbox
    {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        padding: 10px 6px;
    }
    .wish_btnbox ul {
        text-align: center;
    }
    .wish_btnbox ul li
    {
        padding: 0 20px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #8d8d8d;
    }
    .wish_btnbox ul li span
    {
        color: #a56b1d;
    }
    .wish_btnbox ul li:last-child
    {
        border-right: none;
    }


    /*====== payment_calcuate_sec ====*/
    .payment_calcuate h3
    {
        font-size: 16px;
        padding: 0;
        margin: 0 0 15px 0;
    }
    .payment_calcuate ul{
        margin: 0;
        padding:0;
        list-style: none;
    }
    .payment_calcuate ul li{
        clear: both;
        display: inline-block;
        width: 100%;
        margin: 0px 0 0px 0;
        font-size: 14px;
        padding: 5px 0;
    }
    .payment_calcuate ul li:last-child span.fltleft {
        width: 38%;
    }
    .fltleft
    {
        float: left;
        color: #000;
        width: 70%;
    }
    .fltright{
        float:right;
        width: 30%;
    }
    .totalamount ul li .fltleft{
        color: #515c6f;
    }
    .totalamount ul li .fltright{
        color: #515c6f;
    }
    .totalamount h3 {
        font-size: 17px;
        color: #666;
        margin: 0 0 10px 0;
        font-weight: 300;
    }
    .f_cart_button .cart_btn
    {
        // background: #c5005e;
        font-size: 15px;
        letter-spacing: 0.9px;
        height: 5rem;
        background-color: #a56b1d;
        text-transform: uppercase;
        font-weight: 300;
    }
    .qtyinput{
        width: 30%;
    float: left;
    border: 1px #9E9E9E  solid;
    margin-right: 10px;
    }
    .qtyspan{
        float: left;
        margin-right: 5px;
    margin-top: 5px;
    }
    .qtybtn{
        background-color: #a56b1d;
        margin-top: 1px;
    }
    .qtyinput .text-input {
        margin: 5px !important;
    }
    .emptycart{
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      .cartaddress{
        margin-top: 5px !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .same_add .item-inner {
        border-bottom: none !important;
    }
    
}
