<ion-header>
  <ion-navbar class="navbar_sec">
    <ion-grid class="no_padding">
      <ion-row>
        <ion-col col-5 class="nav_home_left_main">
          <div class="nav_home_left">
            <button ion-button menuToggle class="menu_hum">
              <img src="assets/images/humbergar_icon.png" alt="" />
            </button>
            <span class="nav_title">
              <h3>My Cart</h3>
            </span>
          </div>
        </ion-col>
        <ion-col col-7>
          <div class="ion-text-start">
            <ul class="list_nav_search">
              <!-- <li (click)='onSearch();'><img src="assets/images/search_icon_nav.png" alt="" /></li> -->
              <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png" /><span *ngIf="wishCount != 0"
                  class="cartcount">{{wishCount}}</span></li>
              <!-- <li><img src="assets/images/cart_icon_nav.png" alt="" /> <span class="cartcount">7</span></li> -->
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="emptycart" *ngIf="cartData.length == 0">
    <img src="assets/images/empty_cart.jpg" alt="" />
    <p>Your Cart is empty</p>
  </div>
  <ion-grid style="padding: 0;" *ngIf="cartData.length > 0">
    <ion-row style="border-bottom: 1px solid #ccc;margin-bottom: 15px;">
      <h6>Billing Address</h6>
      <ion-col col-9 style="padding: 0;">
        <span style="font-weight: bold;" *ngIf="landmark != ''">{{fname}} {{lname}}</span>
        <p class="cartaddress" *ngIf="landmark != ''">{{landmark}} {{state}} {{city}} - {{postcode}}</p>
      </ion-col>
      <ion-col col-3 style="padding: 0;display: flex; align-items: center;">
        <button ion-button small class="qtybtn" *ngIf="landmark != ''"
          (click)="onNewAddressBook('Billing')">Change</button>
        <button ion-button small class="qtybtn" *ngIf="landmark == ''"
          (click)="onNewAddressBook('Billing')">Add</button>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ccc;margin-bottom: 15px;">
      <h6>Shipping Address</h6>
      <!-- <ion-item style="padding-left: 0 !important;" class="same_add">
        <ion-label>Same as billing address</ion-label>
        <ion-toggle [(ngModel)]="same_address" (ionChange)="stateChange()"></ion-toggle>
      </ion-item> -->
      <ion-col col-9 style="padding: 0;">
        <span style="font-weight: bold;" *ngIf="slandmark != ''">{{sfname}} {{slname}}</span>
        <p class="cartaddress" *ngIf="slandmark != ''">{{slandmark}} {{sstate}} {{scity}} - {{spostcode}}</p>
      </ion-col>
      <ion-col col-3 style="padding: 0;display: flex; align-items: center;">
        <button ion-button small class="qtybtn" *ngIf="same_address == false && slandmark != ''"
          (click)="onNewAddressBook('Shipping')">Change</button>
        <button ion-button small class="qtybtn" *ngIf="same_address == false && slandmark == ''"
          (click)="onNewAddressBook('Shipping')">Add</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="pro_listing_sec">
    <div class="productbar product_box_repeat" *ngFor="let data of cartData;">
      <ion-grid style="padding: 0;">
        <ion-row>
          <ion-col col-4>
            <div class="productimg"><img [src]="data.image" alt="" /></div>
          </ion-col>
          <ion-col col-8>
            <div class="productdetails">
              <h2>{{data.post_title}}</h2>
              <p>{{data.post_content}}</p>
              <div class="productmeta">
                <span class="price" *ngIf="data.sale_price != ''">${{data.sale_price}}</span>
                <span class="price" *ngIf="data.sale_price == ''">${{data.regular_price}}</span>
                <span class="delete" *ngIf="data.sale_price != ''">${{data.regular_price}}</span>
              </div>
              <div style="margin-top: 10px;">
                <span class="qtyspan">Qty:</span>
                <ion-input class="qtyinput" [(ngModel)]="data.quantity" maxLength="2" type="tel"
                  (input)="onQuantityChange(data.quantity)"></ion-input>
                <button class="qtybtn" ion-button small
                  (click)="onUpdateCart(data.product_id, data.quantity);">Update</button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wish_btnarea">
        <ion-grid style="padding: 0;">
          <ion-row>
            <ion-col col-12>
              <div class="wish_btnbox">
                <ul>
                  <li (click)="onDeleteCart(data.cart_id)"><span><i class="fa fa-trash" aria-hidden="true"></i></span>
                    REMOVE</li>
                  <li *ngIf="data.is_wishlist == 0" (click)="addtowishlist(data.product_id)"><span><i
                        class="fa fa-heart-o" aria-hidden="true"></i></span> VIEW SHORT LIST</li>
                  <li *ngIf="data.is_wishlist == 1" (click)="onwhishlist()"><span><i class="fa fa-heart"
                        aria-hidden="true"></i></span> SHORT LIST
                  </li>
                </ul>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <!--  -->
    <div class="payment_calcuate" *ngIf="cartData.length > 0">
      <h3>Payment Details</h3>
      <ul>
        <li><span class="fltleft">Value Of Product</span> <span
            class="fltright">:${{cartAmount.order_final_total_without_gst}} </span></li>
        <!-- <li><span class="fltleft">Discount</span> <span class="fltright">:$1586.65 </span></li> -->
        <li><span class="fltleft">Estimated GST</span> <span class="fltright">:${{cartAmount.estimated_gst}}</span></li>
        <li><span class="fltleft">Shipping Charges</span> <span
            class="fltright">:${{cartAmount.shipping_handeling}}</span></li>
        <li style="border-top: 1px solid #ccc;"> <span class="fltleft">Final Amount</span><span class="fltright">:
            ${{cartAmount.order_final_total}}</span></li>
        <!-- <li><span class="fltleft">Pin code </span><span class="pinno">743166</span> <span class="fltright"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span></li> -->
      </ul>
    </div>
  </div>
</ion-content>
<ion-footer class="ion_footer" *ngIf="cartData.length > 0">
  <div class="footer_btn_area clear">
    <div class="f_cart_button">
      <button style="margin: auto !important;" [disabled]="isDisabled" ion-button full class="cart_btn"
        (click)="onPlaceorder();">PLACE
        ORDER</button>
    </div>
  </div>
</ion-footer>