page-profile {
    .c_box_white
    {
        padding: 15px 0px 70px 0;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.16);
    }
    .con_repeat
    {
        padding: 0 15px;
    }
    .con_repeat h3
    {
        font-size: 15px;
        padding: 0;
        margin: 0 0 15px 0;
        color: #515c6f;
    }
    .list_2column
    {
        margin: 0;
        padding:0;
        list-style: none;
    }
    .list_2column li
    {
        clear: both;
        display: inline-block;
        width: 100%;
        margin: 0px 0 0px 0;
        font-size: 14px;
        padding: 5px 0;
        color: #7b7b7b;
    }
    .list_2column li .c_left
    {
        float: left;
        width: 35%;
    }
    .list_2column li .c_right
    {
        float:right;
        width: 65%;
    }
    .veri_msg
    {
        margin: 0px 0 0px 0;
        font-size: 13px;
        padding: 0px 0;
        color: #7b7b7b;
    }
    .thanku_msg
    {
        background: #e9ebdd;
        padding: 10px 5px;
        margin-top: 20px;
        color: #797777;
        font-size: 13px;
    }
    .c_button_box
    {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .c_button_box .btn_change,
    .c_button_box .btn_back
    {
        width: 47%;
        border-radius: 0;
        height: 30px;;
        font-size: 14px;
        font-weight: 400;
    }
    .c_button_box .btn_change
    {
        float: left;
        background: #a56b1d;
        height: 39px;
        font-size: 12px;
    }
    .c_button_box .btn_back
    {
        float: right;
        background: #3a4759;
        height: 39px;
        font-size: 12px;
    }
    /*=====  =====*/
    
    
    .f_cart_button .cart_btn
    {
        
    }
    .f_cart_button .cart_btn
    {
        // background: #c5005e;
        font-size: 15px;
        letter-spacing: 0.9px;
        height: 4rem;
        background-color: #ff0087;
        text-transform: uppercase;
        font-weight: 300;
    }

    
}
