<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-6 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">

                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>My Profile</h3>
                        </span>
                    </div>
                </ion-col>

                <ion-col col-6>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <!-- <li (click)='onSearch();'><img src="assets/images/search_icon_nav.png" alt=""/></li> -->
                            <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png" /><span
                                    *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png" /><span
                                    *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span></li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="c_box_white">
        <div class="con_repeat">
            <h3>Contact Details</h3>
            <ul class="list_2column">
                <li>
                    <div class="c_left">Email Id</div>
                    <div class="c_right">{{email}}</div>
                </li>
                <li>
                    <div class="c_left">Mobile</div>
                    <div class="c_right">{{mobile}}</div>
                </li>
                <!-- <li ><span></span> Your mobile number has been successfully verified.</li> -->
            </ul>
            <!--  <p class="veri_msg"><span><img src="assets/images/veri_tick.png " alt="" /></span> Your mobile number has been successfully verified.</p> -->
        </div>
        <!-- <div class="thanku_msg">
            Thanku for verifying your mobile number now you can seamlessy use you loyalty cash poit at all our 11x
        </div> -->
        <div class="c_button_box">
            <button ion-button class="btn_change" (click)="onChangePassword();">CHANGE PASSWORD</button>
            <button ion-button class="btn_back" (click)="onEditProfile();">EDIT PROFILE</button>
        </div>
    </div>


</ion-content>