<ion-header>
  <ion-navbar>
    <ion-title>My Queries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="emptycart" *ngIf="queriesData.length == 0">
    <img src="assets/images/noreview.jpg" alt="" />
    <p>You have not written any queries yet.</p>
  </div>
  <div class="c_box_white" *ngFor="let data of queriesData;">
    <div class="con_repeat">
      <ul class="list_2column">
        <li>
          <div class="c_left">Name</div>
          <div class="c_right">: {{data.contact_name}}</div>
        </li>
        <li>
          <div class="c_left">Placed On</div>
          <div class="c_right">: {{formatDate(data.posted_date)}}</div>
        </li>
        <li>
          <div class="c_left">Email</div>
          <div class="c_right">: {{data.contact_email}}</div>
        </li>
        <li>
          <div class="c_left">Phone</div>
          <div class="c_right">: {{data.contact_number}}</div>
        </li>
        <li>
          <div class="c_left">Subject</div>
          <div class="c_right">: {{data.contact_subject}}</div>
        </li>
        <li>
          <div class="c_left">Message</div>
          <div class="c_right">: {{data.contact_msg}}</div>
        </li>
        <!-- <li class="li_invoice">
          <div class="c_left"><span><img src="assets/images/email_invoice_icon.png" alt="" /></span> Email Invoice</div>
          <div class="c_right"><span><img src="assets/images/email_invoice_icon.png" alt="" /></span> Re Order all</div>
        </li> -->
      </ul>

    </div>
  </div>
</ion-content>