<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-5 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">
                            <!-- <ion-icon name="menu"></ion-icon> -->
                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_logo"><img src="assets/images/home_logo_small.png" alt="" /></span>
                    </div>
                </ion-col>

                <ion-col col-7>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <li (click)='onSearch();'><img src="assets/images/search_icon_nav.png" alt="" /></li>
                            <!-- <li><img src="assets/images/bell_icon.png" alt=""/> <span class="cartcount">7</span></li> -->
                            <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png"/><span *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png"/><span *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span></li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- banner_slider -->
    <div class="banner_slider">
        <ion-slides class="cate_tab_slide" pager='true' *ngIf="bannerData && bannerData.length" autoplay="5000"
            loop="true" speed="500">
            <ion-slide class="b_slider" text-center *ngFor="let data of bannerData;">
                <div class="banner_slide_box">
                    <img [src]="data.link == '' ? 'assets/images/banner1.jpg' : data.link" />
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="category_slider">
        <ion-slides slidesPerView="4" class="cate_tab_slide" pager='false'>
            <ion-slide class="i_slider" text-center *ngFor="let data of categoryData;"
                (click)="onProductList(data.term_id, data.name)">
                <div class="cat_slide_box">
                    <div class="cat_slide_img">
                        <img [src]="data.image == '' ? 'assets/images/catslide-img1.png' : data.image" />
                    </div>
                    <p [innerHTML]="data.name"></p>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <!-- detox_food_sec -->
    <section class="detox_food_sec">
        <ion-row>
            <ion-col col-12 style="padding: 0 !important;" (click)="onProductList(saleBannerData.link, saleBannerData.single_banner_name)">
                <img [src]="saleBannerData.single_banner" style="width: 100% !important;"/>
            </ion-col>
        </ion-row>
    </section>

    <div class="padd16LR">
        <!--  shop_by_category_sec -->
        <div class="shop_by_category_sec" *ngIf="hotData.length > 0">
            <h3>Hot Deals</h3>
            <div class="category_slider">
                <ion-slides slidesPerView="2" class="cate_tab_slide" pager="false">
                    <ion-slide class="new_arrivals_slide" text-center *ngFor="let data of hotData;"
                        (click)='onProductdetails(data.id);'>
                        <div class="hot_arrivals_box">
                            <img [src]="data.productimage" alt="" />
                        </div>
                        <div class="deal_layer">
                            <h2>{{data.post_title}}</h2>
                            <h4 [innerHtml]="data.product_price"></h4>
                            <div class="dealtag1" *ngIf="data.sale_text != '' && data.sale_text != null">{{data.sale_text}}</div>
                            <div class="dealtag2" *ngIf="data.sale_value != '' && data.sale_value != null">{{data.sale_value}}%</div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <!---Fashio-sec-->
        <div class="shop_by_category_sec" *ngFor="let data of subcategoryData;" >
            <h3 [class]="categoryImgClass(data.name)">{{data.name}}</h3>
            <div class="category_slider">
                <ion-slides slidesPerView="2" class="cate_tab_slide" pager='false'>
                    <ion-slide class="new_arrivals_slide" text-center *ngFor="let subdata of data.product_list;"
                        (click)='onProductdetails(subdata.id);'>
                        <div class="hot_arrivals_box">
                            <img [src]="subdata.productimage" alt="" />
                        </div>
                        <div class="deal_layer">
                            <h2>{{subdata.post_title}}</h2>
                            <h4 [innerHtml]="subdata.product_price"></h4>
                            <div class="dealtag1" *ngIf="subdata.sale_text != '' && subdata.sale_text != null">{{subdata.sale_text}}</div>
                            <div class="dealtag2" *ngIf="subdata.sale_value != '' && subdata.sale_value != null">{{subdata.sale_value}}%</div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <!-- new_arrival_sec -->
        <div class="new_arrival_sec" *ngIf="newwArrivalsData.length > 0">
            <h3>New Arrivals</h3>
            <div class="category_slider">
                <ion-slides slidesPerView="4" class="cate_tab_slide" pager='false'>
                    <ion-slide class="new_arrivals_slide" text-center *ngFor="let data of newwArrivalsData;"
                        (click)='onProductdetails(data.id);'>
                        <div class="new_arrivals_box">
                            <img [src]="data.productimage" alt="" />
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>

    <!-- <button ion-button (click)="onCatagory();">Catagories</button> -->
</ion-content>