page-home {
    /*===== navbar ====*/
    .navbar_sec
    {
        box-shadow: none;
        border-bottom: none;
    }
    .navbar_sec .toolbar-background
    {
        background: #fff;
        border-bottom: 1px solid #fff !important;
    }
    .navbar_sec .toolbar-content
    {
        height: 37px;
    }
    .nav_home_left_main
    {
        padding-top: 0;
    }
    .nav_home_left .menu_hum
    {
        display: inline-block;
        vertical-align: middle;
    }
    .nav_home_left .nav_logo
    {
        display: inline-block;
        vertical-align: middle;
        padding: 0px 0 0 8px;
        position: relative;
        top: 2px;
    }
    .navbar_titile_box .navbar_titile .toolbar-title
    {
        font-weight: 400;
        font-size: 21px;
        color: #3a4759;
    }
    
    /*=header cart==*/
    .list_nav_search
    {
        list-style: none;
        //padding: 2px 6px 0 0px;
        margin: 0;
        text-align: right;
    }
    .list_nav_search li
    {
        display: inline-block;
        text-align: right;
        padding: 0 5px;
        position: relative;
    }
    .cartcount {
        /* background: #f70303;        
        display: block;        
        text-align: center;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        border-radius: 50px;
        position: absolute;
        width: 13px;
        height: 13px;
        top: -1px;
        right: 3px;
        line-height: 15px; */
    }
    .list_nav_search li:last-child
    {
        padding-right: 0;
    }
    /*=header cart==*/
    .list_nav_search li
    {
        display: inline-block;
        text-align: right;
        padding: 0 5px;
    }
    .list_nav_search li:last-child
    {
        padding-right: 0;
    }
    /*===== banner_slider =====*/
    .banner_slider
    {
        //margin-top: 10px;
    }
    .banner_slider .swiper-pagination-bullet
    {
        background: #ffffff;
        opacity: 1;
        width: 7px;
        height: 7px;
    }
    .banner_slider .swiper-pagination-bullet-active
    {
        background: #a56b1d;
    }
    /*========= detox_food_sec ========*/
    .detox_food_sec
    {
        //background: #217c9b;
        box-shadow: inherit;
        padding: 0;
        margin: 12px 0 12px;        
    }
    .detox_desc_main
    {
        padding-left: 0px;
    }
    .detox_desc
    {
        text-align: center;    
    }
    .detox_desc h3
    {
        font-size: 23px;
        color: #ff0187;
        padding: 0;
        margin: 0 0 0 0;
        text-transform: uppercase;
        font-weight: 900;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .detox_desc p
    {
        font-size: 11px;
        color: #ff0087;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }
    .detox_desc h5
    {
        font-size: 12px;
        color: #fff;
        padding: 4px 15px;
        margin: 0;
        background: #ff0087;
        display: inline-block;
        margin-top: 4px;
        font-weight: 400;
        letter-spacing: 0.5px;
        
    }
    /*===== shop_by_category_sec =======*/
    .shop_by_category_sec
    {
        //padding: 0 0 11px 0;
    }
    .shop_by_category_sec h3
    {
        background: url("../../assets/images/hedaing-bg1.png") no-repeat;
        background-position: right;
        display: inline-block;
        line-height: 30px;
        padding: 0 20px 0 8px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: 400;
    }
    .productbox
    {
        position: relative;
    }
    .productbox .itemcontent
    {
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        padding: 3px 5px 3px 10px;
        width: 89%;
    }
    .itemcontent h5
    {
        font-size: 10px;
        color: #fff;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
    }
    /*===== new_arrival_sec ====*/
    .new_arrival_sec
    {
        padding: 10px 0 20px 0;
    }
    .new_arrival_sec h3
    {
        font-size: 18px;
        color: #3a4759;
        padding: 0;
        margin: 0 0 12px 0;
        font-weight: 400;
    }
    .new_arrivals_box
    {
        margin: 2px;
        padding: 0 3px;
        text-align: -webkit-center;
        border:1px solid #ccc;
    }
    .new_arrivals_box img
    {
        display: block;
        //border:1px solid #ccc;
        height: 60px;
        width: auto;
    }

    .hot_arrivals_box{
        margin: 3px;
        text-align: -webkit-center;
        border:1px solid #ccc;
    }

    .banner_slide_box img {
        height: 200px !important;
        width: auto;
        object-fit: cover;
    }

    .hot_arrivals_box img{
        display: block;
    }

    .cat_slide_box
    {
        text-align: center;
    }
    .cat_slide_box p
    {
        font-size: 14px;
        color: #000;
        margin: 6px 0 6px 0;
    }
    .cat_slide_img
    {
        width:63px;
        height: 63px;
        box-shadow: inherit;        
        border-radius: 50%;
        //border: 2px solid #ccc;
        overflow: hidden;
        margin: 0 auto;
       -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        margin-top: 10px;
        background: #fff;
    }

    .shop_by_category_sec .fashion_category_sec {
        background: url("../../assets/images/hedaing-bg2.png") no-repeat;
        background-position: right;
        display: inline-block;
        line-height: 30px;
        padding: 0 20px 0 8px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 10px;
    }
    .shop_by_category_sec .wellness_category_sec {
        background: url("../../assets/images/hedaing-bg3.png") no-repeat;
        background-position: right;
        display: inline-block;
        line-height: 30px;
        padding: 0 20px 0 8px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 10px;
    }
    .shop_by_category_sec .sports_category_sec {
        background: url("../../assets/images/hedaing-bg4.png") no-repeat;
        background-position: right;
        display: inline-block;
        line-height: 30px;
        padding: 0 13px 0 8px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 10px;
    }
    .deal_layer h2 {
        background:rgba(0, 0, 0, 0.6);
        padding: 4px;margin: 0 !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .deal_layer h4 {
        background:rgba(0, 0, 0, 0.6);
        padding: 4px;margin: 0 !important;
    }
.deal_layer {width: 87%!important;margin: 0 11px;}

}
