
ion-app {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif !important;
}

/* @font-face {
  font-family: 'Microsoft Sans Serif';
  src: url('../fonts/MicrosoftSansSerif.woff2') format('woff2'),
      url('../fonts/MicrosoftSansSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


.no_padding
{
  padding: 0;
}
.clear{
  clear: both;
  display: table;
  width: 100%;
}
.padd16LR
{
  padding-left: 16px;
  padding-right: 16px;
}
.back-button-text
{
  display: none;
}
.back-button.show-back-button
{
  color: #111;
}
/*===== navbar ====*/
.navbar_sec
{
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.14);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.14);
  border-bottom: 1px solid #f5f5f5;
}
.navbar_sec .toolbar-background
{
    background: #fff;
    border-bottom: 1px solid #fff !important;
}
.navbar_sec .toolbar-content
{
    height: 37px;
}
.nav_home_left_main
{
    padding-top: 0;
}
.nav_home_left .menu_hum
{
    display: inline-block;
    vertical-align: middle;
    min-width: 22px;
}
.nav_home_left .nav_logo
{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0 0 8px;
    position: relative;
    top: 2px;
}
.nav_home_left .nav_title h3
{
  font-size: 16px;
  color: #000;
  padding: 7px 0 0 0;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  position: relative;
  top: 2px;
}
.navbar_titile_box .navbar_titile .toolbar-title
{
    font-weight: 400;
    font-size: 21px;
    color: #3a4759;
}

/*=header cart==*/
.list_nav_search
{
    list-style: none;
    padding:0;
    margin: 0;
    text-align: right;
}
.list_nav_search li
{
    display: inline-block;
    text-align: right;
    padding: 0 5px;
    position: relative;

}
.cartcount {
    background: #f70303;
    width: 17px;
    height: 17px;
    display: block;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: -6px;
}
.list_nav_search li:last-child
{
    padding-right: 0;
}

.loginbutton {background-color: #a56b1d;color: #fff;}
.login_bottom_text {padding: 10px 0;text-align: center;}
.login_bottom_text p {font-size: 14px;color:#fff;}
.login_bottom_text a {color:#a56b1d;}
.menu-inner {width: 273px;}
.menu_navigation .scroll-content {background-image: url("../../assets/images/nav_bg.png");}
.shop_by_category_sec .swiper-slide img {width: auto;padding: 0 7px;height: 120px;}
.shop_by_category_sec .swiper-pagination.hide {display: block!important;}
.shop_by_category_sec .swiper-pagination-bullet-active {background: #000 !important;}
.shop_by_category_sec .swiper-pagination-bullet {background: #b5c5dc;width:5px;height: 5px;opacity: 1;}
.shop_by_category_sec .swiper-wrapper {height: 155px;}
.shop_by_category_sec .swiper-slide {align-items: inherit;webkit-box-align: inherit;-webkit-align-items: inherit;-ms-flex-align: inherit;}
.new_arrivals_slide {position: relative;}
.deal_layer {width: 100%;height: 100%;position: absolute;left:0;top:0;text-align: center;padding:60px 0 0 0;}
.deal_layer h2 {color:#fff;font-size: 12px;margin: 0 0 6px;}
.deal_layer h4 {color:#fff;font-size: 14px;margin: 0;;line-height: 13px;}
.deal_layer h4 span {font-size: 15px;}
.dealtag1 {width: auto;padding:3px 11px;color:#fff;font-size: 8px;text-align: center;position: absolute;left:16px;top:9px;background: #000;}
.dealtag2 {width: auto;padding:3px 11px;color:#fff;font-size: 8px;text-align: center;position: absolute;left:56px;top:9px;background: #000;}
.menu-inner .item-block .label {font-weight: 400;font-size: 16px;background: url("../../assets/images/menu-arrow.png") no-repeat;background-position: right;}
/* ion-list {padding: 20px 0 0;} */
.menu-inner button.item.item-block {padding-bottom: 9px;}
.menu_dif {border-bottom: none}
.menu_dif ion-label {font-weight: 400;font-size: 16px;padding-left: 6px;border-top: 1px solid #fff;padding-bottom: 18px;padding-top: 18px;margin: 0;}
.menu-inner .formenu1.item-block .label {font-size: 14px;color:#dfecff;background:none;padding-left: 13px;margin:0;}
.menu-inner .formenu1.item-block {min-height: 19px;}
a.prod_ad_button {text-decoration: none;text-transform: uppercase;color:#b07e39;border:1px solid #b07e39;font-size: 12px;display: inline-block;line-height:28px;padding: 0 12px;-webkit-border-radius: 30px;
-moz-border-radius: 30px;border-radius: 30px;}
.bottom_feature_sec {width: 100%;background: #a56b1d;padding: 20px 0;text-align: center;}
.bottom_feature_sec a {color:#fff;font-size: 16px;text-transform: uppercase;display: inline-block;text-decoration: none;}
.bottom_feature_sec img {max-width:100%;margin-right: 8px;position: relative;top: 4px;}
.forborder {border-right:1px solid #fff;}
.pro_details_slider .swiper-pagination-bullet-active {background: #a56b1d!important;}
.pro_details_slider .swiper-pagination-bullet {background: #fff;opacity: 1;}
.productdetails_header .navbar_sec .toolbar-background {background: none;border:none!important;}
.productdetails_header .navbar_sec {background: none;border:none!important;box-shadow: none!important;}
.productdetails_page_content .fixed-content {margin: 0!important;}
.productdetails_page_content .scroll-content {margin: 0!important;}
.prodtop {width: 100%;margin: 0 0 8px;text-align: center;}
.prodtop span {display: inline-block;color:#a56b1d;font-size: 11px;}
.prodtop span a {color:#a56b1d;font-size: 11px;text-decoration: none;}
.prodtop span img {float: left;margin-right: 8px;}
.prodtop span font {display: inline-block;background: #a56b1d;border-radius: 22px;margin-right: 3px;padding: 2px 4px;color: #fff;}
.prodtop span font img {float: right;margin: 0 0 0 5px;}
.prodbottompic {width: 100%;}
.prodbottompic img {max-width: 100%;display: block;margin: 0 auto;}
.p_desc_area {padding-bottom: 50px;}
.pro_details_slide img {height: 250px;width: auto;object-fit: cover;}
.cartpricebutton {display: inline-block;width: auto;padding: 6px 10px;background-color: #a56b1d;color:#fff;font-size: 20px;}
.cartpricebutton span {font-size: 16px;}
.acc_account {padding-top: 0;}
.quantity_box {width:auto;display: inline-block;border: 1px solid #000;border-radius: 8px;}
.quantity_box a {display: inline-block;color:#000;font-size: 14px;text-decoration: none;padding: 3px 7px;}
.quantity_box a:nth-child(2) {background: #a56b1d;color:#fff;}
.quantity_box .fa {font-size: 10px;}
.button-md{box-shadow: none !important;}
.button-md.activated{background-color:#a56b1d;}