<ion-header>
  <ion-navbar class="navbar_sec">
    <ion-grid>
      <ion-row>
        <!-- <ion-col col-2 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">

                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                    </div>
                </ion-col> -->
        <ion-col col-8>
          <ion-title style="font-size: 16px;" [innerHTML]="catName"></ion-title>
        </ion-col>

        <ion-col col-4 style="padding: 0 !important;">
          <div class="ion-text-start">
            <ul class="list_nav_search">
              <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png" /><span *ngIf="wishCount != 0"
                  class="cartcount">{{wishCount}}</span></li>
              <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png" /><span *ngIf="cartCount != 0"
                  class="cartcount">{{cartCount}}</span></li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>



<ion-content>
  <!-- pro_listing_sec -->
  <h4 style="text-align: center" *ngIf="productData.length == 0">No items to show</h4>
  <div class="pro_listing_sec">
    <div class="productbar product_box_repeat" *ngFor="let data of productData">
      <ion-grid style="padding: 0;">
        <ion-row>
          <ion-col col-5 (click)="onProductdetails(data.id)">
            <div class="productimg"><img [src]="data.productimage" alt="" /></div>
          </ion-col>
          <ion-col col-7>
            <div class="productdetails">
              <h2>{{data.post_title}}</h2>
              <div class="productmeta">
                <span class="price" [innerHTML]="data.product_price"></span>
              </div>
              <p>{{data.Description}}</p>
              <a *ngIf="data.product_type == 'simple' && data.cart_count == 0" class="prod_ad_button"
                (click)="addtocart(data.id)">Add to cart</a>
              <a *ngIf="data.product_type == 'simple' && data.cart_count > 0" class="prod_ad_button"
                (click)="oncart()">View cart</a>
              <div *ngIf="data.product_type == 'simple' && data.is_wishlist == 0" class="dotsicon"
                (click)="addtowishlist(data.id)">
                <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </div>
              <div *ngIf="data.product_type == 'simple' && data.is_wishlist == 1" class="dotsicon"
                (click)="onwhishlist()">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="pageNum < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="productData.length > 0">
  <div class="bottom_feature_sec">
    <ion-row>
      <ion-col col-6 class="forborder" (click)="openSortPage()">
        <a><img src="assets/images/sort-arrow.png" alt="" /> Sort</a>
      </ion-col>
      <ion-col col-6 (click)="openFilterPage()">
        <a><img src="assets/images/filter_icon.png" alt="" /> Filter</a>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>