<ion-menu [content]="content" type="overlay">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="menu_navigation">
    <div class="nav_profile_box clear" style="background: url('../assets/images/nav_top_bg.png');">
      <div class="nav_profile_img">
        <img style="border-radius: 50%;" [src]="(profile_pic == '' || profile_pic == null ) ? 'assets/images/placeholder.png' : profile_pic" alt="" />
      </div>
      <div class="nav_profile_name">
        <h4 style="font-size: 14px;">{{name}}</h4>
      </div>
    </div>
    <ion-list no-lines>
      <ion-item menuClose (click)="onHome()">Home</ion-item>
      <ion-item menuClose *ngFor="let data of categoryData;" (click)="onProductList(data.term_id, data.name)"><p style="color: white;" [innerHTML]="data.name"></p></ion-item>
      <ion-list-header style="margin-top: 13px !important;">
        My Activity
      </ion-list-header>
      <ion-item menuClose (click)="onMyAccount()">Account</ion-item>
      <ion-item menuClose (click)="onWishlist()">My Shortlist</ion-item>
      <ion-item menuClose (click)="onOrderhistory()">Order History</ion-item>
      <ion-list-header style="margin-top: 13px !important;">
        Help / Support
      </ion-list-header>
      <ion-item menuClose (click)="onFAQ()">FAQ</ion-item>
      <ion-item menuClose (click)="onAboutus()">About Us</ion-item>
      <ion-item menuClose (click)="onLogout()">Logout</ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>