// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu_navigation .scroll-content
{
    background-image: url('../assets/images/nav_bg.jpg');
}
.menu_navigation .item
{
    background-color: transparent;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    padding-right: 16px;
}
.menu_navigation .item-inner
{
    background-image: none !important;
    border-bottom: none !important;
}

.menu-inner .item-block:last-child
{
    border-bottom: none !important;
}
.nav_cate_title
{
  font-size: 15px !important;
 
}
.nav_cate_title:first-child .label
{
    border-top: none;
}
.nav_cate_title .label 
{
    border-top: 1px solid #ccc;
    padding: 9px 0 0 0;
    margin-bottom: 2px !important;
}
.menu-inner .item-block
{
    min-height: 38px;
}
.menu-inner .item-block .label
{
    margin: 0px 8px 0px 0;
}
.menu-inner button.item.item-block
{
    padding-left: 22px;
}
/*=== nav top profile ===*/
.nav_profile_box
{
    padding: 10px 16px;
    margin-bottom: 13px;
}
.nav_profile_img
{
    width: 55px;
    float: left;
    height: 55px;
    border-radius: 50%;
}
.nav_profile_name
{
    float: left;
    padding: 20px 0 0 14px;
}
.nav_profile_name h4
{
    color: #dfecff;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}
ion-item{
    padding-left: 20px !important;
    padding-right: 5px !important;
}
ion-list-header{
    padding-left: 10px !important;
    border-bottom: 1px solid #ccc !important; 
}
.sideItem:hover { background: #50504e !important; }
.item-block .label { font-size: 14px !important; }

.formenu1:hover { background: #50504e !important; }

ion-modal {
    ion-backdrop {
        visibility: visible;
    }
    .modal-wrapper {
        width: 100%;
        height: 100%;
        /*margin: 7%; */
        position: absolute;
        /* border-radius: 13px; */
        overflow: hidden;
    }
}

/* .modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
} */