<ion-header>
    <ion-navbar>
        <ion-title>
            Privacy Policy
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-theme " padding>
    <!-- <iframe width="100%" height="604" [src]="trustedVideoUrl" frameborder="0" style="padding :0"></iframe> -->
    <p [innerHTML]="htmlContent"></p>
</ion-content>