page-productsort {

    .radioClass{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
    }
    .radioClass ion-list-header {
        margin-bottom: 5px !important;
    }
    
}
