<ion-content style="background-color: rgba(0, 0, 0, 0);">
  <div style="width: 100%; height:100%;" (click)="onClick()"></div>
  <div class="radioClass">
    <ion-list radio-group no-lines>
      <ion-list-header>
        Sort By
      </ion-list-header>

      <!-- <ion-item>
        <ion-label>Popularity</ion-label>
        <ion-radio checked="true" value="popularity"></ion-radio>
      </ion-item> -->

      <ion-item>
        <ion-label>Price -- Low to High</ion-label>
        <ion-radio #radio1 value="lowtohigh" (click)="onSort('price_low_high')" [checked]="isRadio1Checked"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Price -- High to Low</ion-label>
        <ion-radio #radio2 value="hightolow" (click)="onSort('price_high_low')" [checked]="isRadio2Checked"></ion-radio>
      </ion-item>

      <!-- <ion-item>
        <ion-label>Newest First</ion-label>
        <ion-radio value="newest"></ion-radio>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>