<ion-header>
  <ion-navbar class="navbar_sec">
    <ion-grid class="no_padding">
      <ion-row>
        <ion-col col-5 class="nav_home_left_main">
          <div class="nav_home_left">
            <button ion-button menuToggle class="menu_hum">
              <img src="assets/images/humbergar_icon.png" alt="" />
            </button>
            <span class="nav_title">
              <h3>My Reviews</h3>
            </span>
          </div>
        </ion-col>
        <ion-col col-7>
          <div class="ion-text-start">
            <ul class="list_nav_search">
              <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png" /><span *ngIf="wishCount != 0"
                  class="cartcount">{{wishCount}}</span></li>
              <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png" /><span *ngIf="cartCount != 0"
                  class="cartcount">{{cartCount}}</span></li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="emptycart" *ngIf="reviewData.length == 0">
    <img src="assets/images/noreview.jpg" alt="" />
    <p>You have not written any product reviews yet.</p>
  </div>
  <div class="myreview_wrapper">
    <div class="myreviews_box" *ngFor="let data of reviewData;">
      <ion-grid class="grid" style="padding: 0;">
        <ion-row class="row">
          <ion-col col-3 class="col">
            <div class="productimg">
              <img [src]="data.productimage">
            </div>
          </ion-col>
          <ion-col col-9 class="col">
            <div class="productdetails">
              <h2>
                <ion-badge item-start="" style="background-color: #45b34a;margin: 8px 6px 8px 0; "
                  class="badge badge-ios">{{data.comment_rating}} <ion-icon name="ios-star" role="img" class="icon icon-ios ion-ios-star"
                    aria-label="star" ng-reflect-name="ios-star">
                  </ion-icon>
                </ion-badge>{{data.post_title}}
              </h2>
              <p class="prod_desc">{{data.description}}</p>
              <p class="date">{{formatdate(data.review_date)}}</p>
            </div>
          </ion-col>
          <p>{{data.comment_content}}</p>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>