<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-5 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">

                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>Address Book</h3>
                        </span>
                    </div>
                </ion-col>

                <ion-col col-7>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png" /><span
                                    *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png" /><span
                                    *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span></li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="c_box_white">
        <div class="con_repeat" (click)="onNewAddressBook('Shipping');">
            <h3><span><img src="assets/images/plus_icon.png" alt="" /></span> Add/Edit New Shipping Address</h3>
        </div>
    </div>

    <div class="c_box_white" *ngIf="landmark != ''">
        <div class="con_repeat">
            <h3>Default Shipping Address:</h3>
            <ul class="list_2column">
                <li>
                    <div class="c_left">{{address_type}}</div>
                    <div class="c_right">
                        <div class="c_address">
                            <h3>{{fname}} {{lname}}</h3>
                            <h3>{{phone}}</h3>
                            <br>
                            <h3>{{landmark}}<br>
                                {{city}} <br>
                                {{state}} {{postcode}}
                            </h3>
                        </div>
                        <!-- <div class="c_btn_remove">
                            <p><span><i class="fa fa-trash" aria-hidden="true"></i></span> REMOVE</p>
                            <p><span><i class="fa fa-pencil" aria-hidden="true"></i></span> EDIT</p>
                        </div> -->
                    </div>
                </li>
            </ul>

        </div>
    </div>


</ion-content>