page-recentview {
    
    /*====== serach_sec ====*/
    .serach_sec
    {
        font-size: 11px;
        padding: 10px 10px;
        -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.17);
        -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.17);
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.17);
    }
    .search-field{
        color: #000;
        font-size: 14px;
        background: #e4e6ea;
        width: 100%;
        height: 36px;
        border-radius: 30px;
        padding:0 15px 0 40px;
        line-height:36px;
    }
    .inputfiled {
        padding-top: 0;
        position: relative;
        margin-top: 0;
        font-size: 11px;
    }
    .inputfiled .fa.fa-search {
        position: absolute;
        left: 0;
        z-index: 9;
        color: #333;
        top: 0;
        height: 36px;
        width: 36px;
        text-align: center;
        line-height: 36px;

    }
     .inputfiled .text-input{
         margin:0;
         padding:0;
         font-size: 11px;
     }
     .searchbar-input-container {
        border-radius: 22px;
        overflow: auto;
     }
     /*==== product_list_sec ====*/
     .product_list_sec 
     {
         
     }
     .pro_filter_area
     {
         padding: 20px 0 0 0;
     }
     .filter_left p
     {
        font-size: 14px;
        color: #003759;
        padding: 0;
        margin: 0;
     }
     .filter_right p
     {
        font-size: 11px;
        color: #0d70d4;
        padding: 0;
        margin: 0;
        text-align: right;
     }
     .f_filter_name
     {
         vertical-align: top;
         padding-left: 5px;
     }
     /*==== pro_listing_sec ====*/
    .pro_listing_sec
    {
        padding: 16px 16px 45px 16px;
        background: #fcfcfc;
    }
    .productbar ul{
        margin: 0;
        padding:0;
        list-style: none;
    }
    
    .fltleft
    {
        float: left;
        color: #000;
        font-size: 16px;
    }
    .fltright{
        float:right;
    }
    .product_box_repeat
    {
        margin-bottom: 15px;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.205);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.20);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.20);
    }
    .productimg{
        text-align: center;
    }
    .productimg img{
        height: 100px;
        width: auto;
    }
    .productdetails{
        position: relative;
        padding-right: 15px;
    }
    .productdetails h2{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: #3a4759;
        text-transform: uppercase;
        margin:0 0 2px 0;
        line-height: inherit;
    }
    .productdetails p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 11px;
        margin: 7px 0 12px;
        color: #3a4759;
        font-weight: 400;
        line-height: inherit;
    }
    .productmeta
    {
        margin-bottom: 3px;
    }
    .productmeta .price{
        font-size: 15px;
        color: #003759;
        font-weight: 600;
        margin-right: 5px;
    }
    .productmeta .delete{
        font-size: 13px;
        position: relative;
        color: #666;
        font-weight: 300;
        margin-right: 5px
    }
    .productmeta .delete:after{
        content: "";
        width: 100%;
        height: 1px;
        background: #b1005d;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .productmeta .discount{
        color: #b1005d;
    }
    .dotsicon {
        position: absolute;
        top: 0px;
        right: -5px;
        font-size: 20px;
    }
    .dotsicon a i{
        color: #003759;
        font-size: 20px;
    }
    .pro_rating
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .pro_rating li
    {
        display: inline-block;
        color: #efce4a;
        font-size: 17px;
        padding-right: 3px;
    }
    .bottom_feature_sec{
        padding: 5px 0 !important;
    }

    .toolbar .searchbar-ios .searchbar-input {
        background: rgb(255, 255, 255) !important;
    }

    .list_nav_search
    {
        list-style: none;
        padding: 2px 6px 0 0px;
        margin: 0;
        text-align: right;
    }

    .toolbar-title-md {
        font-size: 16px !important;
        padding: 0 !important;
      }

}
