<ion-header>
  <ion-navbar>
    <ion-title>
      Recently Viewed
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- serach_sec -->
  <h4 style="text-align: center" *ngIf="products.length == 0">No items to show</h4>
  <!-- pro_listing_sec -->
  <div class="pro_listing_sec">
      <div class="productbar product_box_repeat" *ngFor="let data of products;">
        <ion-grid style="padding: 0;">
          <ion-row>
            <ion-col col-5 (click)="onProductdetails(data.id)">
              <div class="productimg"><img [src]="data.productimage" alt="" /></div>
            </ion-col>
            <ion-col col-7>
              <div class="productdetails">
                <h2>{{data.post_title}}</h2>
                <div class="productmeta">
                  <span class="price" [innerHTML]="data.product_price"></span>
                </div>
                <p>{{data.Description}}</p>
                <!-- <a *ngIf="data.product_type == 'simple' && data.cart_count == 0" class="prod_ad_button"
                  (click)="addtocart(data.id)">Add to cart</a>
                <a *ngIf="data.product_type == 'simple' && data.cart_count > 0" class="prod_ad_button"
                  (click)="oncart()">View cart</a>
                <div *ngIf="data.product_type == 'simple' && data.is_wishlist == 0" class="dotsicon"
                  (click)="addtowishlist(data.id)">
                  <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div *ngIf="data.product_type == 'simple' && data.is_wishlist == 1" class="dotsicon"
                  (click)="onwhishlist()">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </div> -->
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
</ion-content>