page-signup {
    .text-input::-moz-placeholder {
        color: white !important;
      }
      
      .text-input:-ms-input-placeholder {
        color: white !important;
      }
      
      .text-input::-webkit-input-placeholder {
        color: white !important;
      }
    .logo_area
    {
        text-align: center;
        padding: 10px 25px 0px 25px;
    }
    .page_name_area
    {
        text-align: center;
        padding-bottom: 1px;
        padding-top: 15px;
    }
    .page_name_area h2
    {
        font-size: 30px;
        color: #fff;
        padding: 0;
        margin: 0 0 10px 0;
        font-weight: 400;
    }
    /*======= form_style =======*/
    .form_style
    {
        padding: 0 30px;
    }
    .form_style input [type="text"],
    .form_style input [type="email"],
    .form_style input [type="password"]
    {
        border: 1px solid #3d4c62;
    }
    .input_form{
        border-radius: 20px;
        margin: 10px 0px 0px 0px;
        padding: 0 15px;
        width: 100%;
        border: 1px solid #9c9c9c;
        color: #fff;
        font-weight: 300;
        position: relative;
        background : rgba(153, 153, 153, 0.2);
    }
    .input_form .input_icon
    {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .signup_ac_txt
    {
        margin-top: 15px;
        margin-bottom: 25px;
    }
   .signup_ac_txt p
   {
        font-size: 13px;
        color: #fff;
        padding: 0;
        margin: 0 0 12px 0;
        text-align: center;
   }
   .input_form  .text-input-ios{
        width: calc(100% - 23px) !important;
    }
    .input_form  .text-input-md{
        width: calc(100% - 33px) !important;
    }
    /*===== footer ======*/
    ion-footer .toolbar-background{
        background: #ff0087;
        color: white;
    }
    ion-footer .toolbar-title{
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
    }
    .input_form:hover { border: 1px solid #a56b1d !important; }

}
