<ion-content style="background:url('../assets/images/signup_bg.png');  background-size: cover;" padding>
  <div class="logo_area">
    <img src="assets/images/logo.png" />
  </div>

  <div class="form_style">
    <div class="page_name_area">
      <h2>Sign Up</h2>
    </div>
    <ion-list style="margin-bottom: 10px !important;">
      <div class="input_form"> <!-- (keyup.enter)="closeKeyboard()" -->
        <ion-input placeholder="First Name *" [(ngModel)]="fName" type="text"></ion-input>
        <div class="input_icon"><img src="assets/images/user_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Last Name *" [(ngModel)]="lName" type="text"></ion-input>
        <div class="input_icon"><img src="assets/images/user_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Email *" [(ngModel)]="email" type="email"></ion-input>
        <div class="input_icon"><img src="assets/images/mail_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Mobile *" [(ngModel)]="phnNumber" type="tel" maxLength="15"></ion-input>
        <div class="input_icon"><img src="assets/images/mobile_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Password *" [(ngModel)]="password" type="password"></ion-input>
        <div class="input_icon"><img src="assets/images/pass_input_icon.png" alt="" /></div>
      </div>
      <div class="input_form">
        <ion-input placeholder="Confirm Password *" [(ngModel)]="cPassword" type="password"></ion-input>
        <div class="input_icon"><img src="assets/images/c_pass_input_icon.png" alt="" /></div>
      </div>
      <!-- <div class="input_form">
        <ion-input placeholder="Address" [(ngModel)]="address" type="text"></ion-input>
        <div class="input_icon"><img src="assets/images/address_input_icon.png" alt="" /></div>
      </div> -->
    </ion-list>
  </div>
  <div class="login_bottom_text" style="padding: 5px !important">
    <p>Already have an account? <a (click)="onSignIn();">Sign In</a></p>
  </div>
  <div class="form_style">
    <button [disabled]="isDisabled" ion-button full color="light" round class="loginbutton"
      (click)="onSignup()">SIGNUP</button>
  </div>
  <div class="signup_ac_txt">
    <p>By creating an account, you agree to our</p>
    <p><a (click)="onTermsOfService();" style="color: #a56b1d;">Terms of Service</a> and <a (click)="onPrivacyPolicy();"
        style="color: #a56b1d;">Privacy Policy</a></p>
  </div>
</ion-content>