<ion-header class="productdetails_header">
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-10 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">
                            <img src="assets/images/humbergar_icon_productdetails.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>{{name}}</h3>
                        </span>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav_productdetails.png" alt="" />
                                <span *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span>
                            </li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content class="productdetails_page_content">
    <div class="pro_details_slider" *ngIf="bannerImage.length == 0">
        <img [src]="prodImg" style="height: 200px; width: auto;" />
    </div>

    <div class="pro_details_slider">
        <ion-slides slidesPerView="1" class="cate_tab_slide" pager='true' *ngIf="bannerImage.length > 0">
            <ion-slide class="i_slider" text-center *ngFor="let data of bannerImage;">
                <div class="pro_details_slide">
                    <img [src]="data.image" alt="" />
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="p_desc_area padd16LR">
        <div class="product_details_desc">
            <div class="prodtop">
                <ion-row>
                    <ion-col col-4><span>
                            <font>{{rating}} <img src="assets/images/prod-star.png" alt="" /></font> Rating
                        </span> </ion-col>
                    <ion-col col-4 (click)="onShare()"><span><img src="assets/images/share.png" alt="" /> Share</span>
                    </ion-col>
                    <!-- <ion-col col-4><span><img src="assets/images/prod-dt-wishlist.png" alt="" />
                                Save</span></ion-col> -->
                    <ion-col col-4 *ngIf="productDetailsdata.is_whish != null && productDetailsdata.is_whish == 0"
                        (click)="onAddWishlist(productDetailsdata.id)"><span>
                            <ion-icon name="md-heart-outline" style="font-size: 16px;"></ion-icon> Save
                        </span></ion-col>
                    <ion-col col-4 *ngIf="productDetailsdata.is_whish != null && productDetailsdata.is_whish == 1"
                        (click)="gotoWishlist()"><span>
                            <ion-icon name="md-heart" style="font-size: 16px;"></ion-icon> View
                        </span></ion-col>
                </ion-row>
            </div>
            <p [innerHtml]="description"></p>
            <h2 class="p_price" [innerHtml]="price"></h2>
            <h6 class="p_availablity">In Stock</h6>

            <div class="size" *ngIf="productSize != null && productSize.length > 0"
                style="display: inline-flex;align-items: center;">
                Size :
                <label *ngFor="let data of productSize;">
                    <input type="radio" name="toggle">
                    <span (click)="onSizeChanged(data.size)">{{data.size}}</span>
                </label>
            </div>
            <div class="color" *ngIf="productColor != null && productColor.length > 0">
                Color:
                <a class="clr1" *ngFor="let data of productColor;">
                    <!-- <span [style.background-color]="data.color"></span> -->
                    <label class="lbl_color">
                        <input type="radio" name="color" />
                        <span class="icon" [style.background-color]="data.color"
                            (click)="onColorChanged(data.color)"></span>
                    </label>
                </a>
            </div>


            <!-- <p>SKU: USDS-6DTM-11216-1704</p> -->
            <div class="prodbottompic">
                <img src="assets/images/proddetails-bottom-pic.png" alt="" />
                <img src="assets/images/garuntee-pic.jpg" alt="" />
            </div>
        </div>

        <ion-card class="review-card">
            <ion-item style="border-top: none !important">
                <span *ngIf="reviewData.length > 0">Total {{reviewData.length}} Reviews</span>
                <span *ngIf="reviewData.length == 0">No Reviews yet</span>
                <button ion-button small item-right style="background-color: #a56b1d;" (click)="onAddReview();">Write
                    Review</button>
            </ion-item>
            <ion-list *ngFor="let data of reviewData | slice:0:2">
                <ion-item style="border-top: solid 1px #e8e7e7;">
                    <ion-item style="padding-left: 0 !important;" class="iteminner">
                        <ion-badge item-start style="background-color: #45b34a;margin: 8px 6px 8px 0; ">
                            {{data.comment_rating}} <ion-icon name="ios-star">
                            </ion-icon>
                        </ion-badge>
                        <h2>{{data.custome_name}}</h2>
                    </ion-item>
                    <!-- <p style="font-size: 17px; font-weight: 500; color: #000;">{{data.custome_name}}</p> -->
                    <p style="font-weight: 500; color: #464545; white-space: initial;font-size: 14px;margin-top: 3px">
                        {{data.comment_content}}</p>
                    <p style="font-size: 11px; margin-top: 3px">{{formatdate(data.review_date)}}</p>
                </ion-item>
            </ion-list>
            <ion-item-divider *ngIf="reviewData.length > 2"
                style="background-color: #ffffff;border-top: solid 1px #e8e7e7;" (click)="onAllReview();">
                All {{reviewData.length}} Reviews <span float-right>
                    <ion-icon name="arrow-forward"></ion-icon>
                </span></ion-item-divider>
        </ion-card>
    </div>
</ion-content>

<!-- <ion-footer class="ion_footer">
    <div class="footer_btn_area clear">
        <div class="f_cart_button">
            <button ion-button full class="cart_btn" (click)="onLogin();">BUY FOR $ 14.999</button>
        </div>
    </div>
</ion-footer> -->

<!-- <ion-footer>
    <div class="bottom_feature_sec">
        <ion-row>
            <ion-col col-6 class="forborder" (click)="addToCart()">
                <a>Add to Cart</a>
            </ion-col>
            <ion-col col-6  (click)="addToCart()">
                <a>Buy Now</a>
            </ion-col>
        </ion-row>
    </div>
</ion-footer> -->

<ion-footer class="ion_footer">
    <div class="footer_btn_area clear">
        <div class="f_cart_button">
            <button style="margin: auto !important;" ion-button full class="cart_btn" (click)="addToCart();">Add to
                Cart</button>
        </div>
    </div>
</ion-footer>