page-productdetails {

    /*=====  =====*/
    .p_desc_area
    {
        
    }
    .prodtop .col {
        padding: 0 !important;
    }
    .product_details_desc
    {
        padding: 5px 0;
        margin: 0 0 11px;
        color:#a56b1d;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .product_details_desc .p_title
    {
        font-size: 16px;
        color: #3a4759;
        padding: 0;
        margin: 0 0 5px 0;
        font-weight: 400;
    }
    .product_details_desc p
    {
        font-size: 13px;
        color: #3a4759;
        padding: 0;
        margin: 0 0 15px 0;
    }
    .pink_txt_color
    {
        color: #ff0087;
    }

    .pro_rating
    {
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;
    }
    .pro_rating li
    {
        display: inline-block;
        color: #efce4a;
        font-size: 17px;
        padding-right: 3px;
    }
    .sku_code
    {
        font-size: 14px;
        color: #ff0087;
        padding: 0;
        margin: 0 0 7px 0;
        font-weight: 400;
    }
    .p_price
    {
        color:#a56b1d;
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 8px;        
        padding: 0;        
    }
    .p_price span {
        color:#aab3be;
        font-size: 20px;
        //text-decoration: line-through;
    }
    .product_details_desc .p_availablity
    {
        margin: 0 0 15px;
        color:#a56b1d;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0;
        
    }

    p a.clr1 {
        border:1px solid #000;
        /* width: 18px;
        height: 18px; */
        padding: 1px;
        display: inline-block;
        position: relative;
        top: 4px;
    }
    p a.clr1 span {
        background: #ff0087;
        display: block;
        width: 100%;
        height: 100%;
    }
    p a.clr2 {
        border: 1px solid #000;
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;
       /*  padding-top: 3px;
        padding-bottom: 3px; */
        text-align: center;
    }
    p a.clr2 span {
        display: block;
        text-align: center;
        color: black;
    }
    p a.clr3 {
        border:1px solid #000;
        width: 13px;
        height: 13px;
        padding: 1px;
        display: inline-block;
        position: relative;
        top: 2px;
    }
    p a.clr3 span {
        background: #64bb18;
        display: block;
        width: 100%;
        height: 100%;
    }
    p a.clr4 {
        border:1px solid #000;
        width: 13px;
        height: 13px;
        padding: 1px;
        display: inline-block;
        position: relative;
        top: 2px;
    }
    p a.clr4 span {
        background: #000409;
        display: block;
        width: 100%;
        height: 100%;
    }
    p a.clr5 {
        border:1px solid #000;
        width: 13px;
        height: 13px;
        padding: 1px;
        display: inline-block;
        position: relative;
        top: 2px;
    }
    p a.clr5 span {
        background: #576f93;
        display: block;
        width: 100%;
        height: 100%;
    }
    p a.clr6 {
        border:1px solid #000;
        width: 13px;
        height: 13px;
        padding: 1px;
        display: inline-block;
        position: relative;
        top: 2px;
    }
    p a.clr6 span {
        background: #e3dc0e;
        display: block;
        width: 100%;
        height: 100%;
    }
    p a.clr7 {
        border:1px solid #000;
        width: 13px;
        height: 13px;
        padding: 1px;
        display: inline-block;
        position: relative;
        top: 2px;
    }
    p a.clr7 span {
        background: #22d6b2;
        display: block;
        width: 100%;
        height: 100%;
    }
    p a {
        margin-right: 10px;
    }
    p.carticons {
        padding: 0 0 0 6px;
        width: auto;
        display: inline-block;
        border-radius: 22px;
        border:1px solid #000;
    }
    p.carticons a {
        display: inline-block;
        text-decoration: none;
        color:#000;
        font-size: 18px;
        padding: 3px 4px;
    }
    p.carticons a:hover {
        background: #a56b1d;
        color:#fff;
    }
    .f_cart_button .cart_btn
    {
        // background: #c5005e;
        font-size: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-weight: 300;
        height: 5rem;
        background-color: #a56b1d;
    }
    .back-button.show-back-button {
        color: #fff !important;
    }

    .nav_home_left .nav_title h3 {
        color: #fff !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .pro_details_slider{
        text-align: center;
    }
    .bottom_feature_sec{
        padding: 5px 0 !important;
    }

    .review-card{
        margin: 0 0 15px 0px;
        border-radius: 0;
        width: auto;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !important;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !important;
    }
    ion-header {
        //background: rgba(0, 0, 0, 0.6);
        background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    .lbl_color {
        position: relative;
        display: inline-block;
        cursor: pointer;
       /*  margin-top: 10px;
        margin-bottom: 10px; */
      }
      .lbl_color .icon {
        display: inline-block;
      }
      .lbl_color input[type="radio"] {
        display: none;
      }
      .lbl_color .icon {
        width: 25px;
        height: 25px;
        /* background: #8c643c; */
        //line-height: 20px;
        -webkit-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.54);
-moz-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.54);
box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.54);
      }
      .lbl_color .icon:after {
        content: "✔";
        opacity: 0;
        transition: all 0.2s;
        color: #fff;
        -webkit-text-stroke: 1px black;
        font-size: 15px;
        padding-left: 5px;
      }     

      .lbl_color input:checked + .icon:after {
        opacity: 1;
      }

      .size label {
        float:left;
        width:40px;
        margin:4px;
        background-color:#ffffff;
        //border-radius:4px;
        border:1px solid #cccccc;
        overflow:auto;          
    }

    .size {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 13px;
        margin: 0 0 15px 0;
    }
    
    .size label span {
        text-align:center;
        font-size: 14px;
        color: #000;
        padding:8px 0px;
        display:block;
    }
    
    .size label input {
        display: none;
    }
    
    .size input:checked + span {
        background-color:#a56b1d;
        color:#F7F7F7;
    }

    .color {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 13px;
        margin: 0 0 15px 0;
    }

    .color a.clr1 {
        border:1px solid #000;
        padding: 1px;
        margin: 4px;
        display: inline-block;
    }
    /* .color a.clr1 span {
        background: #ff0087;
        display: block;
        width: 100%;
        height: 100%;
    } */

}
