<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Catagories</ion-title>
    </ion-navbar>
  </ion-header>

<!-- <ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Catagories</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
    <div class="category_sec">
        <div class="pro_cate_repeat">
            <ion-grid class="no_padding">
                <ion-row>
                    <!-- <ion-col col-4 class="category_left">
                        <div class="main_cate_box">
                            <div class="cate_icon_box">
                              <img src="assets/images/cate_icon_me.png">
                              <p>Vivid-Me</p>
                            </div>  
                        </div>
                    </ion-col> -->
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Home <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Wellness</h4>
                            <ul class="list_category">
                              <li (click)="onProduct();">Vision & Hearing</li>
                              <li (click)="onProduct();">Core and Posture</li>
                            </ul>  
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Sports</h4>
                            <ul class="list_category">
                              <li (click)="onProduct();">Equipment</li>
                              <li (click)="onProduct();">Fan Gear</li>
                              <li (click)="onProduct();">Memorabilia</li>
                            </ul>  
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Electronics <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Kitchen <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Hair & Skin Care <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Fashion <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Parents <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                    <ion-col col-12 class="category_right">
                        <div class="cate_box">
                            <h4>Pets <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h4> 
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

    <!-- <button ion-button (click)="onProduct();">Product</button> -->

</ion-content>
