page-catagories {

    /*==== =====*/
    .main_cate_box
    {
        max-width: 88px;
        text-align: center;
    }
    .cate_box
    {
        -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.20);
        box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.20);
        padding: 16px 16px 10px 16px;
        
    }
    .cate_box h4
    {
        color: #3a4759;
        font-size: 18px;
        padding: 0px;
        margin: 0;
    }
    .cate_box span
    {
        width: auto;
        float: right;
    }
    .list_category
    {
        list-style: none;
        padding: 0 0 0 15px;
        margin: 0;
    }
    .list_category li
    {
        display: block;
        margin: 5px 0 5px 0;
    }
    .list_category li:last-child
    {
        border-bottom: none;
    }
    .list_category li
    {
        color: #515c6f;
        font-size: 15px;
        text-decoration: none;
        display: block;
        padding: 10px 10px 10px 10px;
        position: relative;
    }
    
    .list_category li:before
    {
        content: "\f054";
        font-family: 'FontAwesome';
        width: 20px;
        height: 20px;
        background: #e3e5e8;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ccc;
        position: absolute;
        right: 6px;
        top: 7px;
        font-size: 12px;
        color: #616060;
        line-height: 20px;
    }

    .category_left,
    .category_right
    {
        padding: 0 4px;
    }

}
