<ion-header>
  <ion-navbar>
    <ion-title>Forget Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="forgetlist">
    <ion-item>
      <!-- <ion-label stacked style="font-size: 12px;">Email</ion-label> -->
      <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <div class="form_style">
      <button [disabled]="isDisabled" ion-button full color="light" round class="loginbutton"
        (click)="onSendMail()">SEND MAIL</button>
    </div>
  </ion-list>
</ion-content>