<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-6 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">

                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>About Us</h3>
                        </span>
                    </div>
                </ion-col>

                <ion-col col-6>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-navbar>
</ion-header>
<ion-content class="bg-theme " padding>
    <p [innerHTML]="htmlContent"></p>
</ion-content>