<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-6 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">
                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>Order History</h3>
                        </span>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">
                            <!-- <li (click)='onSearch();'><img src="assets/images/search_icon_nav.png" alt=""/></li> -->
                            <li (click)="onwhishlist()"><img src="assets/images/wishlist_icon.png" /><span
                                    *ngIf="wishCount != 0" class="cartcount">{{wishCount}}</span></li>
                            <li (click)="oncart()"><img src="assets/images/cart_icon_nav.png" /><span
                                    *ngIf="cartCount != 0" class="cartcount">{{cartCount}}</span></li>
                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <div class="c_box_white">
        <div class="con_repeat" (click)="onNewAddressBook();">
            <h3>Last 3 Months Order <span item-end><img src="assets/images/order_history.png" alt="" /></span></h3>
        </div>
    </div> -->
    <div class="emptycart" *ngIf="orderData.length == 0">
        <img src="assets/images/no_order.jpg" alt="" />
        <p>You have no orders</p>
    </div>
    <div class="c_box_white" *ngFor="let data of orderData;" (click)="onOrderDetails(data.order_id)">
        <div class="con_repeat">
            <ul class="list_2column">
                <li>
                    <div class="c_left">Order No.</div>
                    <div class="c_right">
                        : {{data.order_id}}
                        <!-- <div class="c_btn_remove">
                            <p><span><i class="fa fa-trash" aria-hidden="true"></i></span> REMOVE</p>
                            <p><span><i class="fa fa-pencil" aria-hidden="true"></i></span> REMOVE</p>
                        </div> -->
                    </div>
                </li>
                <li>
                    <div class="c_left">Placed On</div>
                    <div class="c_right">: {{formatDate(data.order_date)}}</div>
                </li>
                <li>
                    <div class="c_left">Total</div>
                    <div class="c_right">: $ {{data.order_total}}</div>
                </li>
                <li>
                    <div class="c_left">Items</div>
                    <div class="c_right">: {{data.order_item_count}}</div>
                </li>
                <li>
                    <div class="c_left">Status</div>
                    <div [class]="(data.order_status == 'processing') ? 'c_right_p' : 'c_right_c'">: {{data.order_status}}</div>
                </li>
                <!-- <li class="li_invoice">
                    <div class="c_left"><span><img src="assets/images/email_invoice_icon.png" alt="" /></span> Email
                        Invoice</div>
                    <div class="c_right"><span><img src="assets/images/email_invoice_icon.png" alt="" /></span> Re Order
                        all</div>
                </li> -->
            </ul>

        </div>
    </div>
</ion-content>