<ion-header>
    <ion-navbar class="navbar_sec">
        <ion-grid class="no_padding">
            <ion-row>
                <ion-col col-6 class="nav_home_left_main">
                    <div class="nav_home_left">
                        <button ion-button menuToggle class="menu_hum">
                            <img src="assets/images/humbergar_icon.png" alt="" />
                        </button>
                        <span class="nav_title">
                            <h3>FAQ</h3>
                        </span>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="ion-text-start">
                        <ul class="list_nav_search">

                        </ul>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- <div class="adressbar" *ngFor="let faq of faqList">
        <h2>{{faq.question}}</h2>
        <p>{{faq.answer}}</p>
    </div> -->
    <ion-card *ngFor="let faq of faqList">
        <ion-card-header style="font-weight: 500;font-size: 18px;border-bottom: 1px solid #ccc;margin-bottom: 10px;">
            {{faq.question}}
        </ion-card-header>
        <ion-card-content style="font-size: 12px;">
            {{faq.answer}}
        </ion-card-content>
    </ion-card>
</ion-content>